In [1]:
i = 1
while i < 10:
    print("hello world" , i)
    i+=1 # increment by 1

hello world 1
hello world 2
hello world 3
hello world 4
hello world 5
hello world 6
hello world 7
hello world 8
hello world 9

In [12]:
i = 1 # initialization
while i <= 100 : # condition
    print(i) # code to be executed
    i+=1 # increment

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [19]:
i = 1
while i <= 100:
    if i % 2 == 0:
        print(i , "Even")
    else:
        print(i , "Odd")
    i+=1

1 Odd
2 Even
3 Odd
4 Even
5 Odd
6 Even
7 Odd
8 Even
9 Odd
10 Even
11 Odd
12 Even
13 Odd
14 Even
15 Odd
16 Even
17 Odd
18 Even
19 Odd
20 Even
21 Odd
22 Even
23 Odd
24 Even
25 Odd
26 Even
27 Odd
28 Even
29 Odd
30 Even
31 Odd
32 Even
33 Odd
34 Even
35 Odd
36 Even
37 Odd
38 Even
39 Odd
40 Even
41 Odd
42 Even
43 Odd
44 Even
45 Odd
46 Even
47 Odd
48 Even
49 Odd
50 Even
51 Odd
52 Even
53 Odd
54 Even
55 Odd
56 Even
57 Odd
58 Even
59 Odd
60 Even
61 Odd
62 Even
63 Odd
64 Even
65 Odd
66 Even
67 Odd
68 Even
69 Odd
70 Even
71 Odd
72 Even
73 Odd
74 Even
75 Odd
76 Even
77 Odd
78 Even
79 Odd
80 Even
81 Odd
82 Even
83 Odd
84 Even
85 Odd
86 Even
87 Odd
88 Even
89 Odd
90 Even
91 Odd
92 Even
93 Odd
94 Even
95 Odd
96 Even
97 Odd
98 Even
99 Odd
100 Even

In [27]:
num = int(input("Enter number : "))
i = 1
while i <= 10:
    print(f"{num} x {i} = {num*i}")
    i+=1

Enter number :  23

23 x 1 = 23
23 x 2 = 46
23 x 3 = 69
23 x 4 = 92
23 x 5 = 115
23 x 6 = 138
23 x 7 = 161
23 x 8 = 184
23 x 9 = 207
23 x 10 = 230

In [6]:
# list,tuple,set,dict,string,range,...

In [8]:
for i in "hello world":
    print(i)

h
e
l
l
o

w
o
r
l
d

In [22]:
marks = [12,2334,45,56,67 , 34,3,45,34,45,3232,32,323,2323,232]
largest = marks[0]

In [24]:
for mark in marks:
    if mark > largest:
        largest = mark
print(largest)

3232

In [26]:
sum = 0
for m in marks:
    sum += m
print(sum)

8817

In [4]:
fruits = ["apple","banana","cherry"]

In [6]:
for f in fruits:
    print(f)

apple
banana
cherry

In [12]:
for i,f in enumerate(fruits,start=1):
    print(f"{i}. {f}")

1. apple
2. banana
3. cherry