In [2]:
pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.11/site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

In [6]:
print(pd.__version__)

2.1.4

In [13]:
marks = [12,34,23]

In [15]:
marksSeries = pd.Series(marks)

In [17]:
print(marksSeries[0])

12

In [19]:
print(marksSeries[0:2])

0    12
1    34
dtype: int64

In [22]:
marksSeries_2 = pd.Series(marks,index = ["a","b","c"])

In [30]:
print(marksSeries_2["a"])
print(marksSeries_2["b"])
print(marksSeries_2["c"])

12
34
23

In [84]:
schedule = {
    "Day_1" : "Chest",
    "Day_2" : "Back",
    "Day_3" : "Shoulder",
    "Day_4" : "Arms",
    "Day_5" : "Legs"
 }

In [86]:

scheduleSeries = pd.Series(schedule,index = ["Day_1" , "Day_2" , "Day_3","Day_4", "Day_5"])

In [88]:
scheduleSeries["Day_1"]

'Chest'

In [90]:
print(marksSeries_2)

a    12
b    34
c    23
dtype: int64

In [92]:
print(scheduleSeries)

Day_1       Chest
Day_2        Back
Day_3    Shoulder
Day_4        Arms
Day_5        Legs
dtype: object

# DataFrames
A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

In [99]:
data = {
    "Parts" : ["Chest","Back","Arms","Shoulders","Legs"],
    "Hours" : [1,2,2,1,2]
}

In [101]:
print(data)

{'Parts': ['Chest', 'Back', 'Arms', 'Shoulders', 'Legs'], 'Hours': [1, 2, 2, 1, 2]}

In [103]:
df = pd.DataFrame(data)

In [105]:
print(df)

       Parts  Hours
0      Chest      1
1       Back      2
2       Arms      2
3  Shoulders      1
4       Legs      2

In [111]:
# df.loc[0]
# df.loc[4]

Parts    Legs
Hours       2
Name: 4, dtype: object

In [115]:
df.loc[0:4]

       Parts  Hours
0      Chest      1
1       Back      2
2       Arms      2
3  Shoulders      1
4       Legs      2

In [119]:
df_copy = pd.DataFrame(data,index=["Day_1","Day_2","Day_3","Day_4","Day_5"])

In [123]:
df_copy.loc["Day_1" : "Day_5"]

           Parts  Hours
Day_1      Chest      1
Day_2       Back      2
Day_3       Arms      2
Day_4  Shoulders      1
Day_5       Legs      2

In [143]:
df_copy.to_csv("/Users/rohan/Desktop/Rohan Desktop/Classes/manish python classes/pandas/workout.csv")

In [146]:
import os

In [148]:
os.getcwd()

'/Users/rohan/Desktop/Rohan Desktop/Classes/manish python classes'

In [150]:
os.listdir("/Users/rohan/Desktop/Rohan Desktop/Classes/manish python classes/pandas")

['workout.csv',
 'Intro.ipynb',
 'working with csv.ipynb',
 '.ipynb_checkpoints',
 'email.csv']