In [1]:
# Project 1: Student Marks Analyzer â€“ Tasks
# 	1.	Create a CSV file named students.csv with columns: Name, Math, Science, English.
# 	2.	Read the CSV file using Pandas into a DataFrame.
# 	3.	Display the original data.
# 	4.	Calculate the total marks for each student.
# 	5.	Calculate the percentage based on total marks out of 300.
# 	6.	Create a function to assign grades (A+, A, B, C, F) based on percentage.
# 	7.	Apply the function to assign grades for each student.
# 	8.	Add the Total, Percentage, and Grade columns to the DataFrame.
# 	9.	Display the updated DataFrame with new columns.
# 	10.	Save the final data to a new CSV file named students_result.csv.

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv("students.csv")

In [9]:
print("Orignal Data : \n", df)

Orignal Data :
      Name  Math  Science  English
0    Amit    78       88       94
1    Neha    65       70       80
2   Rahul    90       95       85
3   Priya    55       60       58
4  Suresh    85       78       82
5  Anjali    92       89       94
6   Karan    60       75       68
7   Pooja    72       84       77
8  Vikram    88       90       91
9   Divya    67       73       79

In [11]:
df["Total"] = df[["Math","Science","English"]].sum(axis=1)

In [13]:
print(df)

     Name  Math  Science  English  Total
0    Amit    78       88       94    260
1    Neha    65       70       80    215
2   Rahul    90       95       85    270
3   Priya    55       60       58    173
4  Suresh    85       78       82    245
5  Anjali    92       89       94    275
6   Karan    60       75       68    203
7   Pooja    72       84       77    233
8  Vikram    88       90       91    269
9   Divya    67       73       79    219

In [15]:
df["Percentage"] = df["Total"] / 300*100

In [17]:
print(df)

     Name  Math  Science  English  Total  Percentage
0    Amit    78       88       94    260   86.666667
1    Neha    65       70       80    215   71.666667
2   Rahul    90       95       85    270   90.000000
3   Priya    55       60       58    173   57.666667
4  Suresh    85       78       82    245   81.666667
5  Anjali    92       89       94    275   91.666667
6   Karan    60       75       68    203   67.666667
7   Pooja    72       84       77    233   77.666667
8  Vikram    88       90       91    269   89.666667
9   Divya    67       73       79    219   73.000000

In [19]:
def check_per(perc):
    if perc >= 90:
        return "A+"
    elif perc >= 75:
        return "A"
    elif perc >= 60:
        return "B"
    elif perc >= 40:
        return "C"
    else:
        return "F"

In [21]:
df["Grade"] = df["Percentage"].apply(check_per)

In [23]:
print(df)

     Name  Math  Science  English  Total  Percentage Grade
0    Amit    78       88       94    260   86.666667     A
1    Neha    65       70       80    215   71.666667     B
2   Rahul    90       95       85    270   90.000000    A+
3   Priya    55       60       58    173   57.666667     C
4  Suresh    85       78       82    245   81.666667     A
5  Anjali    92       89       94    275   91.666667    A+
6   Karan    60       75       68    203   67.666667     B
7   Pooja    72       84       77    233   77.666667     A
8  Vikram    88       90       91    269   89.666667     A
9   Divya    67       73       79    219   73.000000     B

In [25]:
pwd

'/Users/rohan/Desktop/Rohan Desktop/Classes/manish python classes/pandas'

In [29]:
df.to_csv("/Users/rohan/Desktop/Rohan Desktop/Classes/manish python classes/pandas/updated_students_data.csv",index=False)