In [2]:
pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.11/site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas

In [6]:
pandas.__version__

'2.1.4'

In [10]:
import pandas as pd
pd.__version__

'2.1.4'

In [14]:
fruits = ["Apple","Banana","Cherry"]

In [16]:
f = pd.Series(fruits)

In [20]:
print(f)

0     Apple
1    Banana
2    Cherry
dtype: object

In [24]:
marks = [23,34,23,45,45]

In [26]:
m = pd.Series(marks,index=["Vijay","Manish","Rohan","Aryan","Rudr"])

In [30]:
m["Vijay"]

23

In [32]:
thela = {
    "Apple" : 20,
    "Banana" : 1,
    "Cherry" : 2
}

In [34]:
t = pd.Series(thela)

In [36]:
t

Apple     20
Banana     1
Cherry     2
dtype: int64

In [39]:
import numpy as np

In [83]:
x = np.array([12,34,45,44])
y = pd.Series(x,["a","b","c","d"])

In [85]:
y

a    12
b    34
c    45
d    44
dtype: int64

In [87]:
z = pd.Series(5,["a","b","c"])

In [89]:
z

a    5
b    5
c    5
dtype: int64

In [99]:
y[0]

/var/folders/8w/_6yjl4k57ns9p16hzp12zgqw0000gn/T/ipykernel_54176/926962809.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  y[0]

12

In [101]:
y["a"]

12

In [113]:
y[["a","d","c"]]

a    12
d    44
c    45
dtype: int64

In [111]:
y["a":"d"]

a    12
b    34
c    45
d    44
dtype: int64

In [117]:
y["a"] = 1000

In [119]:
y["a"]

1000

In [121]:
y * 2

a    2000
b      68
c      90
d      88
dtype: int64

In [123]:
y

a    1000
b      34
c      45
d      44
dtype: int64

In [125]:
y[y%2==0]

a    1000
b      34
d      44
dtype: int64

In [129]:
y.values

array([1000,   34,   45,   44])

In [131]:
y.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [134]:
y.describe()

count       4.000000
mean      280.750000
std       479.525721
min        34.000000
25%        41.500000
50%        44.500000
75%       283.750000
max      1000.000000
dtype: float64

In [144]:
y.sort_values(ascending=False)

a    1000
c      45
d      44
b      34
dtype: int64

In [149]:
y.to_list()

[1000, 34, 45, 44]

In [225]:
df

               Email          ID  First_name  Last_name
0        Login email  Identifier  First name  Last name
1  laura@example.com        2070       Laura       Grey
2  craig@example.com        4081       Craig    Johnson
3   mary@example.com        9346        Mary    Jenkins
4  jamie@example.com        5079       Jamie      Smith

In [236]:
df = pd.read_csv("./email.csv",delimiter=";")

In [238]:
x = df["First name"]

In [231]:
x

0    First name
1         Laura
2         Craig
3          Mary
4         Jamie
Name: First_name, dtype: object

In [233]:
df.columns

Index(['Login email', 'Identifier', 'First name', 'Last name'], dtype='object')

In [251]:
df = pd.read_csv("./email.csv",delimiter=";")

In [253]:
df

         Login email  Identifier First name Last name
0  laura@example.com        2070      Laura      Grey
1  craig@example.com        4081      Craig   Johnson
2   mary@example.com        9346       Mary   Jenkins
3  jamie@example.com        5079      Jamie     Smith