In [3]:
pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.11/site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

In [5]:
marks = [23,34,2,3,2,4]
s1 = pd.Series(marks)
print(s1)

0    23
1    34
2     2
3     3
4     2
5     4
dtype: int64

In [6]:
marks = [23,34,2,3,2,4]
s1 = pd.Series(marks , index = ["rohn" , "manish","aryan","dipesh","sunil","jack"])
print(s1)
print(s1["rohn"])

rohn      23
manish    34
aryan      2
dipesh     3
sunil      2
jack       4
dtype: int64
23

In [9]:
marks = {
    "maths" : [41,43,23,22],
    "english" : [34,23,45,23]
}

In [10]:
df = pd.DataFrame(marks)

In [11]:
df

   maths  english
0     41       34
1     43       23
2     23       45
3     22       23

In [12]:
df_2 = pd.DataFrame(marks , index = ["rohan","aryan","manish","sudhir"])

In [13]:
df_2

        maths  english
rohan      41       34
aryan      43       23
manish     23       45
sudhir     22       23

In [14]:
df_2.loc["rohan"]

maths      41
english    34
Name: rohan, dtype: int64

In [16]:
df.loc[0]

maths      41
english    34
Name: 0, dtype: int64

In [31]:
df_csv = pd.read_csv("./username.csv" , delimiter=";")

In [33]:
df_csv

    Username   Identifier First name Last name
0   booker12         9012     Rachel    Booker
1     grey07         2070      Laura      Grey
2  johnson81         4081      Craig   Johnson
3  jenkins46         9346       Mary   Jenkins
4    smith79         5079      Jamie     Smith

In [54]:
data_set = pd.read_csv("./coffee_shop_sales.csv")

In [62]:

print(data_set.to_string())

     Transaction ID Transaction Month Store Location  Total Sales  Items Sold  Customer Satisfaction  Online Orders Product Category
0                 1               jan         Mumbai       250000         500                    4.2          100.0           Coffee
1                 2               JAN          Delhi       280000         550                    4.5          120.0      Masala Chai
2                 3              Jan       Bengaluru       220000         480                    3.8           90.0           Snacks
3                 4               jan        Chennai       260000         510                    NaN          110.0           Coffee
4                 5               Jan        Kolkata       230000         490                    4.0            NaN       Sandwiches
5                 6               feb         Mumbai       230000         490                    4.0          110.0           Coffee
6                 7               FEB          Delhi       270000         520                    4.3          130.0      Masala Chai
7                 8              Feb       Bengaluru       200000         460                    3.5           80.0           Snacks
8                 9               feb        Chennai       240000         500                    4.1          105.0           Coffee
9                10               Feb        Kolkata            0           0                    3.9           90.0      Masala Chai
10               11            march          Mumbai       260000         510                    4.6          115.0           Coffee
11               12               MAR          Delhi       290000         560                    4.8          125.0           Coffee
12               13               Mar      Bengaluru       210000         470                    NaN           95.0      Masala Chai
13               14             march        Chennai       270000         530                    4.4          120.0           Snacks
14               15               Mar        Kolkata       240000         500                    4.2          100.0       Sandwiches
15               16               apr         Mumbai       240000         500                    4.1          105.0           Coffee
16               17               APR          Delhi       300000         570                    4.7          135.0           Coffee
17               18              Apr       Bengaluru       230000         490                    4.2            NaN      Masala Chai
18               19               apr        Chennai       250000         510                    4.3          110.0           Snacks
19               20               Apr        Kolkata       220000         480                    3.8           90.0       Sandwiches
20               21               may         Mumbai       270000         530                    4.4          110.0           Coffee
21               22               MAY          Delhi       310000         580                    4.9          140.0           Coffee
22               23               May      Bengaluru       240000         500                    NaN           90.0           Snacks
23               24               may        Chennai       260000         520                    4.5          115.0      Masala Chai
24               25               May        Kolkata       230000         490                    4.1          100.0           Coffee
25               26               jun         Mumbai       200000         450                    3.7           85.0      Masala Chai
26               27               JUN          Delhi       320000         590                    4.6          145.0           Coffee
27               28              Jun       Bengaluru       250000         510                    4.3          100.0           Snacks
28               29               jun        Chennai       240000         500                    4.0          105.0       Sandwiches
29               30               Jun        Kolkata       270000         530                    4.4            NaN           Coffee
30               31               jul         Mumbai       280000         540                    4.5          115.0           Coffee
31               32               JUL          Delhi       300000         570                    4.8          130.0      Masala Chai
32               33              Jul       Bengaluru       260000         520                    4.2          100.0           Snacks
33               34               jul        Chennai       250000         510                    4.3          110.0           Coffee
34               35               Jul        Kolkata        -1000         -10                    4.0           95.0       Sandwiches
35               36               aug         Mumbai       290000         550                    4.6          120.0           Coffee
36               37               AUG          Delhi       270000         530                    4.4          115.0      Masala Chai
37               38              Aug       Bengaluru       230000         490                    3.9           90.0           Snacks
38               39               aug        Chennai       280000         540                    4.5          125.0           Coffee
39               40               Aug        Kolkata       260000         520                    4.2          100.0      Masala Chai
40               41               sep         Mumbai       270000         530                    4.3          110.0           Coffee
41               42               SEP          Delhi       310000         580                    4.7          140.0           Coffee
42               43               Sep      Bengaluru       240000         500                    4.0           95.0           Snacks
43               44               sep        Chennai       260000         510                    NaN          115.0      Masala Chai
44               45               Sep        Kolkata       250000         510                    4.1          100.0       Sandwiches
45               46               oct         Mumbai       280000         540                    4.5          120.0           Coffee
46               47               OCT          Delhi       290000         560                    4.6          130.0           Coffee
47               48              Oct       Bengaluru       250000         510                    4.2          100.0      Masala Chai
48               49               oct        Chennai       270000         530                    4.3          110.0           Snacks
49               50               Oct        Kolkata       240000         500                    4.0           95.0       Sandwiches
50               51               nov         Mumbai       300000         570                    4.7          135.0           Coffee
51               52               NOV          Delhi       280000         550                    4.5          125.0      Masala Chai
52               53              Nov       Bengaluru       260000         520                    4.3          100.0           Snacks
53               54               nov        Chennai       290000         560                    4.6          130.0           Coffee
54               55               Nov        Kolkata       270000         530                    4.4          115.0       Sandwiches
55               56               dec         Mumbai       310000         580                    4.8          140.0           Coffee
56               57               DEC          Delhi       300000         570                    4.7          135.0      Masala Chai
57               58              Dec       Bengaluru       280000         550                    4.5          120.0           Snacks
58               59               dec        Chennai       320000         590                    4.9          145.0           Coffee
59               60               Dec        Kolkata       290000         560                    4.6          130.0       Sandwiches
60               61               Jan         Mumbai       255000         505                    4.3          105.0           Coffee
61               62               jan          Delhi       285000         555                    4.6          125.0      Masala Chai
62               63               JAN      Bengaluru       225000         485                    NaN           95.0           Snacks
63               64              Jan         Chennai       265000         515                    4.4          115.0           Coffee
64               65               jan        Kolkata       235000         495                    4.1          100.0       Sandwiches
65               66               Feb         Mumbai       235000         495                    4.1          115.0           Coffee
66               67               feb          Delhi       275000         525                    4.4          135.0      Masala Chai
67               68               FEB      Bengaluru       205000         465                    3.6           85.0           Snacks
68               69              Feb         Chennai       245000         505                    4.2          110.0           Coffee
69               70               feb        Kolkata       215000         475                    4.0            NaN      Masala Chai
70               71               Mar         Mumbai       265000         515                    4.7          120.0           Coffee
71               72             march          Delhi       295000         565                    4.9          130.0           Coffee
72               73               MAR      Bengaluru       215000         475                    4.0          100.0      Masala Chai
73               74              Mar         Chennai       275000         535                    4.5          125.0           Snacks
74               75               mar        Kolkata       245000         505                    4.3          105.0       Sandwiches
75               76               Apr         Mumbai       245000         505                    4.2          110.0           Coffee
76               77               apr          Delhi       305000         575                    4.8          140.0           Coffee
77               78               APR      Bengaluru       235000         495                    4.3          105.0      Masala Chai
78               79              Apr         Chennai       255000         515                    4.4          115.0           Snacks
79               80               apr        Kolkata       225000         485                    3.9           95.0       Sandwiches
80               81               May         Mumbai       275000         535                    4.5          115.0           Coffee
81               82               may          Delhi       315000         585                    5.0          145.0           Coffee
82               83               MAY      Bengaluru       245000         505                    4.1           95.0           Snacks
83               84              May         Chennai       265000         525                    4.6          120.0      Masala Chai
84               85               may        Kolkata       235000         495                    4.2          105.0           Coffee
85               86               Jun         Mumbai       205000         455                    3.8           90.0      Masala Chai
86               87               jun          Delhi       325000         595                    4.7          150.0           Coffee
87               88               JUN      Bengaluru       255000         515                    4.4          105.0           Snacks
88               89              Jun         Chennai       245000         505                    4.1          110.0       Sandwiches
89               90               jun        Kolkata       275000         535                    4.5          115.0           Coffee
90               91               Jul         Mumbai       285000         545                    4.6          120.0           Coffee
91               92               jul          Delhi       305000         575                    4.9          135.0      Masala Chai
92               93               JUL      Bengaluru       265000         525                    4.3          105.0           Snacks
93               94              Jul         Chennai       255000         515                    4.4          115.0           Coffee
94               95               jul        Kolkata       245000         505                    4.1          100.0       Sandwiches
95               96               Aug         Mumbai       295000         555                    4.7          125.0           Coffee
96               97               aug          Delhi       275000         535                    4.5          120.0      Masala Chai
97               98               AUG      Bengaluru       235000         495                    4.0           95.0           Snacks
98               99              Aug         Chennai       285000         545                    4.6          130.0           Coffee
99              100               aug        Kolkata       265000         525                    4.3          105.0      Masala Chai
100             101               Sep         Mumbai       275000         535                    4.4          115.0           Coffee
101             102               sep          Delhi       315000         585                    4.8          145.0           Coffee
102             103               SEP      Bengaluru       245000         505                    4.1          100.0           Snacks
103             104              Sep         Chennai       265000         515                    4.5          120.0      Masala Chai
104             105               sep        Kolkata       255000         515                    4.2          105.0       Sandwiches
105             106               Oct         Mumbai       285000         545                    4.6          125.0           Coffee
106             107               oct          Delhi       295000         565                    4.7          135.0           Coffee
107             108               OCT      Bengaluru       255000         515                    4.3          105.0      Masala Chai
108             109              Oct         Chennai       275000         535                    4.4          115.0           Snacks
109             110               oct        Kolkata       245000         505                    4.1          100.0       Sandwiches
110             111               Nov         Mumbai       305000         575                    4.8          140.0           Coffee
111             112               nov          Delhi       285000         555                    4.6          130.0      Masala Chai
112             113               NOV      Bengaluru       265000         525                    4.4          105.0           Snacks
113             114              Nov         Chennai       295000         565                    4.7          135.0           Coffee
114             115               nov        Kolkata       275000         535                    4.5          120.0       Sandwiches
115             116               Dec         Mumbai       315000         585                    4.9          145.0           Coffee
116             117               dec          Delhi       305000         575                    4.8          140.0      Masala Chai
117             118               DEC      Bengaluru       285000         555                    4.6          125.0           Snacks
118             119              Dec         Chennai       325000         595                    5.0          150.0           Coffee
119             120               dec        Kolkata       295000         565                    4.7          135.0       Sandwiches

In [65]:
pd.options.display.max_rows = 9999

    Username   Identifier First name Last name
0   booker12         9012     Rachel    Booker
1     grey07         2070      Laura      Grey
2  johnson81         4081      Craig   Johnson
3  jenkins46         9346       Mary   Jenkins
4    smith79         5079      Jamie     Smith

In [69]:
data_set

,Transaction ID,Transaction Month,Store Location,Total Sales,Items Sold,Customer Satisfaction,Online Orders,Product Category
0,1,jan,Mumbai,250000,500,4.2,100.0,Coffee
1,2,JAN,Delhi,280000,550,4.5,120.0,Masala Chai
2,3,Jan,Bengaluru,220000,480,3.8,90.0,Snacks
3,4,jan,Chennai,260000,510,NaN,110.0,Coffee
4,5,Jan,Kolkata,230000,490,4.0,NaN,Sandwiches
5,6,feb,Mumbai,230000,490,4.0,110.0,Coffee
6,7,FEB,Delhi,270000,520,4.3,130.0,Masala Chai
7,8,Feb,Bengaluru,200000,460,3.5,80.0,Snacks
8,9,feb,Chennai,240000,500,4.1,105.0,Coffee
9,10,Feb,Kolkata,0,0,3.9,90.0,Masala Chai
10,11,march,Mumbai,260000,510,4.6,115.0,Coffee
11,12,MAR,Delhi,290000,560,4.8,125.0,Coffee
12,13,Mar,Bengaluru,210000,470,NaN,95.0,Masala Chai
13,14,march,Chennai,270000,530,4.4,120.0,Snacks
14,15,Mar,Kolkata,240000,500,4.2,100.0,Sandwiches
15,16,apr,Mumbai,240000,500,4.1,105.0,Coffee
16,17,APR,Delhi,300000,570,4.7,135.0,Coffee
17,18,Apr,Bengaluru,230000,490,4.2,NaN,Masala Chai
18,19,apr,Chennai,250000,510,4.3,110.0,Snacks
19,20,Apr,Kolkata,220000,480,3.8,90.0,Sandwiches
20,21,may,Mumbai,270000,530,4.4,110.0,Coffee
21,22,MAY,Delhi,310000,580,4.9,140.0,Coffee
22,23,May,Bengaluru,240000,500,NaN,90.0,Snacks
23,24,may,Chennai,260000,520,4.5,115.0,Masala Chai
24,25,May,Kolkata,230000,490,4.1,100.0,Coffee
25,26,jun,Mumbai,200000,450,3.7,85.0,Masala Chai
26,27,JUN,Delhi,320000,590,4.6,145.0,Coffee
27,28,Jun,Bengaluru,250000,510,4.3,100.0,Snacks
28,29,jun,Chennai,240000,500,4.0,105.0,Sandwiches
29,30,Jun,Kolkata,270000,530,4.4,NaN,Coffee
30,31,jul,Mumbai,280000,540,4.5,115.0,Coffee
31,32,JUL,Delhi,300000,570,4.8,130.0,Masala Chai
32,33,Jul,Bengaluru,260000,520,4.2,100.0,Snacks
33,34,jul,Chennai,250000,510,4.3,110.0,Coffee
34,35,Jul,Kolkata,-1000,-10,4.0,95.0,Sandwiches
35,36,aug,Mumbai,290000,550,4.6,120.0,Coffee
36,37,AUG,Delhi,270000,530,4.4,115.0,Masala Chai
37,38,Aug,Bengaluru,230000,490,3.9,90.0,Snacks
38,39,aug,Chennai,280000,540,4.5,125.0,Coffee
39,40,Aug,Kolkata,260000,520,4.2,100.0,Masala Chai
40,41,sep,Mumbai,270000,530,4.3,110.0,Coffee
41,42,SEP,Delhi,310000,580,4.7,140.0,Coffee
42,43,Sep,Bengaluru,240000,500,4.0,95.0,Snacks
43,44,sep,Chennai,260000,510,NaN,115.0,Masala Chai
44,45,Sep,Kolkata,250000,510,4.1,100.0,Sandwiches
45,46,oct,Mumbai,280000,540,4.5,120.0,Coffee
46,47,OCT,Delhi,290000,560,4.6,130.0,Coffee
47,48,Oct,Bengaluru,250000,510,4.2,100.0,Masala Chai
48,49,oct,Chennai,270000,530,4.3,110.0,Snacks
49,50,Oct,Kolkata,240000,500,4.0,95.0,Sandwiches
50,51,nov,Mumbai,300000,570,4.7,135.0,Coffee
51,52,NOV,Delhi,280000,550,4.5,125.0,Masala Chai
52,53,Nov,Bengaluru,260000,520,4.3,100.0,Snacks
53,54,nov,Chennai,290000,560,4.6,130.0,Coffee
54,55,Nov,Kolkata,270000,530,4.4,115.0,Sandwiches
55,56,dec,Mumbai,310000,580,4.8,140.0,Coffee
56,57,DEC,Delhi,300000,570,4.7,135.0,Masala Chai
57,58,Dec,Bengaluru,280000,550,4.5,120.0,Snacks
58,59,dec,Chennai,320000,590,4.9,145.0,Coffee
59,60,Dec,Kolkata,290000,560,4.6,130.0,Sandwiches
60,61,Jan,Mumbai,255000,505,4.3,105.0,Coffee
61,62,jan,Delhi,285000,555,4.6,125.0,Masala Chai
62,63,JAN,Bengaluru,225000,485,NaN,95.0,Snacks
63,64,Jan,Chennai,265000,515,4.4,115.0,Coffee
64,65,jan,Kolkata,235000,495,4.1,100.0,Sandwiches
65,66,Feb,Mumbai,235000,495,4.1,115.0,Coffee
66,67,feb,Delhi,275000,525,4.4,135.0,Masala Chai
67,68,FEB,Bengaluru,205000,465,3.6,85.0,Snacks
68,69,Feb,Chennai,245000,505,4.2,110.0,Coffee
69,70,feb,Kolkata,215000,475,4.0,NaN,Masala Chai
70,71,Mar,Mumbai,265000,515,4.7,120.0,Coffee
71,72,march,Delhi,295000,565,4.9,130.0,Coffee
72,73,MAR,Bengaluru,215000,475,4.0,100.0,Masala Chai
73,74,Mar,Chennai,275000,535,4.5,125.0,Snacks
74,75,mar,Kolkata,245000,505,4.3,105.0,Sandwiches
75,76,Apr,Mumbai,245000,505,4.2,110.0,Coffee
76,77,apr,Delhi,305000,575,4.8,140.0,Coffee
77,78,APR,Bengaluru,235000,495,4.3,105.0,Masala Chai
78,79,Apr,Chennai,255000,515,4.4,115.0,Snacks
79,80,apr,Kolkata,225000,485,3.9,95.0,Sandwiches
80,81,May,Mumbai,275000,535,4.5,115.0,Coffee
81,82,may,Delhi,315000,585,5.0,145.0,Coffee
82,83,MAY,Bengaluru,245000,505,4.1,95.0,Snacks
83,84,May,Chennai,265000,525,4.6,120.0,Masala Chai
84,85,may,Kolkata,235000,495,4.2,105.0,Coffee
85,86,Jun,Mumbai,205000,455,3.8,90.0,Masala Chai
86,87,jun,Delhi,325000,595,4.7,150.0,Coffee
87,88,JUN,Bengaluru,255000,515,4.4,105.0,Snacks
88,89,Jun,Chennai,245000,505,4.1,110.0,Sandwiches
89,90,jun,Kolkata,275000,535,4.5,115.0,Coffee
90,91,Jul,Mumbai,285000,545,4.6,120.0,Coffee
91,92,jul,Delhi,305000,575,4.9,135.0,Masala Chai
92,93,JUL,Bengaluru,265000,525,4.3,105.0,Snacks
93,94,Jul,Chennai,255000,515,4.4,115.0,Coffee
94,95,jul,Kolkata,245000,505,4.1,100.0,Sandwiches
95,96,Aug,Mumbai,295000,555,4.7,125.0,Coffee
96,97,aug,Delhi,275000,535,4.5,120.0,Masala Chai
97,98,AUG,Bengaluru,235000,495,4.0,95.0,Snacks
98,99,Aug,Chennai,285000,545,4.6,130.0,Coffee
99,100,aug,Kolkata,265000,525,4.3,105.0,Masala Chai
100,101,Sep,Mumbai,275000,535,4.4,115.0,Coffee
101,102,sep,Delhi,315000,585,4.8,145.0,Coffee
102,103,SEP,Bengaluru,245000,505,4.1,100.0,Snacks
103,104,Sep,Chennai,265000,515,4.5,120.0,Masala Chai
104,105,sep,Kolkata,255000,515,4.2,105.0,Sandwiches
105,106,Oct,Mumbai,285000,545,4.6,125.0,Coffee
106,107,oct,Delhi,295000,565,4.7,135.0,Coffee
107,108,OCT,Bengaluru,255000,515,4.3,105.0,Masala Chai
108,109,Oct,Chennai,275000,535,4.4,115.0,Snacks
109,110,oct,Kolkata,245000,505,4.1,100.0,Sandwiches
110,111,Nov,Mumbai,305000,575,4.8,140.0,Coffee
111,112,nov,Delhi,285000,555,4.6,130.0,Masala Chai
112,113,NOV,Bengaluru,265000,525,4.4,105.0,Snacks
113,114,Nov,Chennai,295000,565,4.7,135.0,Coffee
114,115,nov,Kolkata,275000,535,4.5,120.0,Sandwiches
115,116,Dec,Mumbai,315000,585,4.9,145.0,Coffee
116,117,dec,Delhi,305000,575,4.8,140.0,Masala Chai
117,118,DEC,Bengaluru,285000,555,4.6,125.0,Snacks
118,119,Dec,Chennai,325000,595,5.0,150.0,Coffee
119,120,dec,Kolkata,295000,565,4.7,135.0,Sandwiches

In [71]:
data_set.head()

,Transaction ID,Transaction Month,Store Location,Total Sales,Items Sold,Customer Satisfaction,Online Orders,Product Category
0,1,jan,Mumbai,250000,500,4.2,100.0,Coffee
1,2,JAN,Delhi,280000,550,4.5,120.0,Masala Chai
2,3,Jan,Bengaluru,220000,480,3.8,90.0,Snacks
3,4,jan,Chennai,260000,510,NaN,110.0,Coffee
4,5,Jan,Kolkata,230000,490,4.0,NaN,Sandwiches

In [73]:
data_set.tail()

,Transaction ID,Transaction Month,Store Location,Total Sales,Items Sold,Customer Satisfaction,Online Orders,Product Category
115,116,Dec,Mumbai,315000,585,4.9,145.0,Coffee
116,117,dec,Delhi,305000,575,4.8,140.0,Masala Chai
117,118,DEC,Bengaluru,285000,555,4.6,125.0,Snacks
118,119,Dec,Chennai,325000,595,5.0,150.0,Coffee
119,120,dec,Kolkata,295000,565,4.7,135.0,Sandwiches

In [75]:
data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Transaction ID         120 non-null    int64
 1   Transaction Month      120 non-null    object
 2   Store Location         120 non-null    object
 3   Total Sales            120 non-null    int64
 4   Items Sold             120 non-null    int64
 5   Customer Satisfaction  115 non-null    float64
 6   Online Orders          116 non-null    float64
 7   Product Category       120 non-null    object
dtypes: float64(2), int64(3), object(3)
memory usage: 7.6+ KB