In [136]:
pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.11/site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [138]:
import pandas as pd

In [140]:
marks = [23,34,2,3,2,4]
s1 = pd.Series(marks)
print(s1)

0    23
1    34
2     2
3     3
4     2
5     4
dtype: int64

In [142]:
marks = [23,34,2,3,2,4]
s1 = pd.Series(marks , index = ["rohn" , "manish","aryan","dipesh","sunil","jack"])
print(s1)
print(s1["rohn"])

rohn      23
manish    34
aryan      2
dipesh     3
sunil      2
jack       4
dtype: int64
23

In [146]:
marks = {
    "maths" : [41,43,23,22],
    "english" : [34,23,45,23]
}

In [148]:
df = pd.DataFrame(marks)

In [150]:
df

   maths  english
0     41       34
1     43       23
2     23       45
3     22       23

In [152]:
df_2 = pd.DataFrame(marks , index = ["rohan","aryan","manish","sudhir"])

In [154]:
df_2

        maths  english
rohan      41       34
aryan      43       23
manish     23       45
sudhir     22       23

In [156]:
df_2.loc["rohan"]

maths      41
english    34
Name: rohan, dtype: int64

In [158]:
df.loc[0]

maths      41
english    34
Name: 0, dtype: int64

In [160]:
df_csv = pd.read_csv("./username.csv" , delimiter=";")

In [162]:
df_csv

    Username   Identifier First name Last name
0   booker12         9012     Rachel    Booker
1     grey07         2070      Laura      Grey
2  johnson81         4081      Craig   Johnson
3  jenkins46         9346       Mary   Jenkins
4    smith79         5079      Jamie     Smith

In [164]:
data_set = pd.read_csv("./coffee_shop_sales.csv")

In [17]:

print(data_set.to_string())

     Transaction ID Transaction Month Store Location  Total Sales  Items Sold  Customer Satisfaction  Online Orders Product Category
0                 1               jan         Mumbai       250000         500                    4.2          100.0           Coffee
1                 2               JAN          Delhi       280000         550                    4.5          120.0      Masala Chai
2                 3              Jan       Bengaluru       220000         480                    3.8           90.0           Snacks
3                 4               jan        Chennai       260000         510                    NaN          110.0           Coffee
4                 5               Jan        Kolkata       230000         490                    4.0            NaN       Sandwiches
5                 6               feb         Mumbai       230000         490                    4.0          110.0           Coffee
6                 7               FEB          Delhi       270000         520                    4.3          130.0      Masala Chai
7                 8              Feb       Bengaluru       200000         460                    3.5           80.0           Snacks
8                 9               feb        Chennai       240000         500                    4.1          105.0           Coffee
9                10               Feb        Kolkata            0           0                    3.9           90.0      Masala Chai
10               11            march          Mumbai       260000         510                    4.6          115.0           Coffee
11               12               MAR          Delhi       290000         560                    4.8          125.0           Coffee
12               13               Mar      Bengaluru       210000         470                    NaN           95.0      Masala Chai
13               14             march        Chennai       270000         530                    4.4          120.0           Snacks
14               15               Mar        Kolkata       240000         500                    4.2          100.0       Sandwiches
15               16               apr         Mumbai       240000         500                    4.1          105.0           Coffee
16               17               APR          Delhi       300000         570                    4.7          135.0           Coffee
17               18              Apr       Bengaluru       230000         490                    4.2            NaN      Masala Chai
18               19               apr        Chennai       250000         510                    4.3          110.0           Snacks
19               20               Apr        Kolkata       220000         480                    3.8           90.0       Sandwiches
20               21               may         Mumbai       270000         530                    4.4          110.0           Coffee
21               22               MAY          Delhi       310000         580                    4.9          140.0           Coffee
22               23               May      Bengaluru       240000         500                    NaN           90.0           Snacks
23               24               may        Chennai       260000         520                    4.5          115.0      Masala Chai
24               25               May        Kolkata       230000         490                    4.1          100.0           Coffee
25               26               jun         Mumbai       200000         450                    3.7           85.0      Masala Chai
26               27               JUN          Delhi       320000         590                    4.6          145.0           Coffee
27               28              Jun       Bengaluru       250000         510                    4.3          100.0           Snacks
28               29               jun        Chennai       240000         500                    4.0          105.0       Sandwiches
29               30               Jun        Kolkata       270000         530                    4.4            NaN           Coffee
30               31               jul         Mumbai       280000         540                    4.5          115.0           Coffee
31               32               JUL          Delhi       300000         570                    4.8          130.0      Masala Chai
32               33              Jul       Bengaluru       260000         520                    4.2          100.0           Snacks
33               34               jul        Chennai       250000         510                    4.3          110.0           Coffee
34               35               Jul        Kolkata        -1000         -10                    4.0           95.0       Sandwiches
35               36               aug         Mumbai       290000         550                    4.6          120.0           Coffee
36               37               AUG          Delhi       270000         530                    4.4          115.0      Masala Chai
37               38              Aug       Bengaluru       230000         490                    3.9           90.0           Snacks
38               39               aug        Chennai       280000         540                    4.5          125.0           Coffee
39               40               Aug        Kolkata       260000         520                    4.2          100.0      Masala Chai
40               41               sep         Mumbai       270000         530                    4.3          110.0           Coffee
41               42               SEP          Delhi       310000         580                    4.7          140.0           Coffee
42               43               Sep      Bengaluru       240000         500                    4.0           95.0           Snacks
43               44               sep        Chennai       260000         510                    NaN          115.0      Masala Chai
44               45               Sep        Kolkata       250000         510                    4.1          100.0       Sandwiches
45               46               oct         Mumbai       280000         540                    4.5          120.0           Coffee
46               47               OCT          Delhi       290000         560                    4.6          130.0           Coffee
47               48              Oct       Bengaluru       250000         510                    4.2          100.0      Masala Chai
48               49               oct        Chennai       270000         530                    4.3          110.0           Snacks
49               50               Oct        Kolkata       240000         500                    4.0           95.0       Sandwiches
50               51               nov         Mumbai       300000         570                    4.7          135.0           Coffee
51               52               NOV          Delhi       280000         550                    4.5          125.0      Masala Chai
52               53              Nov       Bengaluru       260000         520                    4.3          100.0           Snacks
53               54               nov        Chennai       290000         560                    4.6          130.0           Coffee
54               55               Nov        Kolkata       270000         530                    4.4          115.0       Sandwiches
55               56               dec         Mumbai       310000         580                    4.8          140.0           Coffee
56               57               DEC          Delhi       300000         570                    4.7          135.0      Masala Chai
57               58              Dec       Bengaluru       280000         550                    4.5          120.0           Snacks
58               59               dec        Chennai       320000         590                    4.9          145.0           Coffee
59               60               Dec        Kolkata       290000         560                    4.6          130.0       Sandwiches
60               61               Jan         Mumbai       255000         505                    4.3          105.0           Coffee
61               62               jan          Delhi       285000         555                    4.6          125.0      Masala Chai
62               63               JAN      Bengaluru       225000         485                    NaN           95.0           Snacks
63               64              Jan         Chennai       265000         515                    4.4          115.0           Coffee
64               65               jan        Kolkata       235000         495                    4.1          100.0       Sandwiches
65               66               Feb         Mumbai       235000         495                    4.1          115.0           Coffee
66               67               feb          Delhi       275000         525                    4.4          135.0      Masala Chai
67               68               FEB      Bengaluru       205000         465                    3.6           85.0           Snacks
68               69              Feb         Chennai       245000         505                    4.2          110.0           Coffee
69               70               feb        Kolkata       215000         475                    4.0            NaN      Masala Chai
70               71               Mar         Mumbai       265000         515                    4.7          120.0           Coffee
71               72             march          Delhi       295000         565                    4.9          130.0           Coffee
72               73               MAR      Bengaluru       215000         475                    4.0          100.0      Masala Chai
73               74              Mar         Chennai       275000         535                    4.5          125.0           Snacks
74               75               mar        Kolkata       245000         505                    4.3          105.0       Sandwiches
75               76               Apr         Mumbai       245000         505                    4.2          110.0           Coffee
76               77               apr          Delhi       305000         575                    4.8          140.0           Coffee
77               78               APR      Bengaluru       235000         495                    4.3          105.0      Masala Chai
78               79              Apr         Chennai       255000         515                    4.4          115.0           Snacks
79               80               apr        Kolkata       225000         485                    3.9           95.0       Sandwiches
80               81               May         Mumbai       275000         535                    4.5          115.0           Coffee
81               82               may          Delhi       315000         585                    5.0          145.0           Coffee
82               83               MAY      Bengaluru       245000         505                    4.1           95.0           Snacks
83               84              May         Chennai       265000         525                    4.6          120.0      Masala Chai
84               85               may        Kolkata       235000         495                    4.2          105.0           Coffee
85               86               Jun         Mumbai       205000         455                    3.8           90.0      Masala Chai
86               87               jun          Delhi       325000         595                    4.7          150.0           Coffee
87               88               JUN      Bengaluru       255000         515                    4.4          105.0           Snacks
88               89              Jun         Chennai       245000         505                    4.1          110.0       Sandwiches
89               90               jun        Kolkata       275000         535                    4.5          115.0           Coffee
90               91               Jul         Mumbai       285000         545                    4.6          120.0           Coffee
91               92               jul          Delhi       305000         575                    4.9          135.0      Masala Chai
92               93               JUL      Bengaluru       265000         525                    4.3          105.0           Snacks
93               94              Jul         Chennai       255000         515                    4.4          115.0           Coffee
94               95               jul        Kolkata       245000         505                    4.1          100.0       Sandwiches
95               96               Aug         Mumbai       295000         555                    4.7          125.0           Coffee
96               97               aug          Delhi       275000         535                    4.5          120.0      Masala Chai
97               98               AUG      Bengaluru       235000         495                    4.0           95.0           Snacks
98               99              Aug         Chennai       285000         545                    4.6          130.0           Coffee
99              100               aug        Kolkata       265000         525                    4.3          105.0      Masala Chai
100             101               Sep         Mumbai       275000         535                    4.4          115.0           Coffee
101             102               sep          Delhi       315000         585                    4.8          145.0           Coffee
102             103               SEP      Bengaluru       245000         505                    4.1          100.0           Snacks
103             104              Sep         Chennai       265000         515                    4.5          120.0      Masala Chai
104             105               sep        Kolkata       255000         515                    4.2          105.0       Sandwiches
105             106               Oct         Mumbai       285000         545                    4.6          125.0           Coffee
106             107               oct          Delhi       295000         565                    4.7          135.0           Coffee
107             108               OCT      Bengaluru       255000         515                    4.3          105.0      Masala Chai
108             109              Oct         Chennai       275000         535                    4.4          115.0           Snacks
109             110               oct        Kolkata       245000         505                    4.1          100.0       Sandwiches
110             111               Nov         Mumbai       305000         575                    4.8          140.0           Coffee
111             112               nov          Delhi       285000         555                    4.6          130.0      Masala Chai
112             113               NOV      Bengaluru       265000         525                    4.4          105.0           Snacks
113             114              Nov         Chennai       295000         565                    4.7          135.0           Coffee
114             115               nov        Kolkata       275000         535                    4.5          120.0       Sandwiches
115             116               Dec         Mumbai       315000         585                    4.9          145.0           Coffee
116             117               dec          Delhi       305000         575                    4.8          140.0      Masala Chai
117             118               DEC      Bengaluru       285000         555                    4.6          125.0           Snacks
118             119              Dec         Chennai       325000         595                    5.0          150.0           Coffee
119             120               dec        Kolkata       295000         565                    4.7          135.0       Sandwiches

In [166]:
pd.options.display.max_rows = 9999

In [171]:
data_set

,Transaction ID,Transaction Month,Store Location,Total Sales,Items Sold,Customer Satisfaction,Online Orders,Product Category
0,1,jan,Mumbai,250000,500,4.2,100.0,Coffee
1,2,JAN,Delhi,280000,550,4.5,120.0,Masala Chai
2,3,Jan,Bengaluru,220000,480,3.8,90.0,Snacks
3,4,jan,Chennai,260000,510,NaN,110.0,Coffee
4,5,Jan,Kolkata,230000,490,4.0,NaN,Sandwiches
5,6,feb,Mumbai,230000,490,4.0,110.0,Coffee
6,7,FEB,Delhi,270000,520,4.3,130.0,Masala Chai
7,8,Feb,Bengaluru,200000,460,3.5,80.0,Snacks
8,9,feb,Chennai,240000,500,4.1,105.0,Coffee
9,10,Feb,Kolkata,0,0,3.9,90.0,Masala Chai
10,11,march,Mumbai,260000,510,4.6,115.0,Coffee
11,12,MAR,Delhi,290000,560,4.8,125.0,Coffee
12,13,Mar,Bengaluru,210000,470,NaN,95.0,Masala Chai
13,14,march,Chennai,270000,530,4.4,120.0,Snacks
14,15,Mar,Kolkata,240000,500,4.2,100.0,Sandwiches
15,16,apr,Mumbai,240000,500,4.1,105.0,Coffee
16,17,APR,Delhi,300000,570,4.7,135.0,Coffee
17,18,Apr,Bengaluru,230000,490,4.2,NaN,Masala Chai
18,19,apr,Chennai,250000,510,4.3,110.0,Snacks
19,20,Apr,Kolkata,220000,480,3.8,90.0,Sandwiches
20,21,may,Mumbai,270000,530,4.4,110.0,Coffee
21,22,MAY,Delhi,310000,580,4.9,140.0,Coffee
22,23,May,Bengaluru,240000,500,NaN,90.0,Snacks
23,24,may,Chennai,260000,520,4.5,115.0,Masala Chai
24,25,May,Kolkata,230000,490,4.1,100.0,Coffee
25,26,jun,Mumbai,200000,450,3.7,85.0,Masala Chai
26,27,JUN,Delhi,320000,590,4.6,145.0,Coffee
27,28,Jun,Bengaluru,250000,510,4.3,100.0,Snacks
28,29,jun,Chennai,240000,500,4.0,105.0,Sandwiches
29,30,Jun,Kolkata,270000,530,4.4,NaN,Coffee
30,31,jul,Mumbai,280000,540,4.5,115.0,Coffee
31,32,JUL,Delhi,300000,570,4.8,130.0,Masala Chai
32,33,Jul,Bengaluru,260000,520,4.2,100.0,Snacks
33,34,jul,Chennai,250000,510,4.3,110.0,Coffee
34,35,Jul,Kolkata,-1000,-10,4.0,95.0,Sandwiches
35,36,aug,Mumbai,290000,550,4.6,120.0,Coffee
36,37,AUG,Delhi,270000,530,4.4,115.0,Masala Chai
37,38,Aug,Bengaluru,230000,490,3.9,90.0,Snacks
38,39,aug,Chennai,280000,540,4.5,125.0,Coffee
39,40,Aug,Kolkata,260000,520,4.2,100.0,Masala Chai
40,41,sep,Mumbai,270000,530,4.3,110.0,Coffee
41,42,SEP,Delhi,310000,580,4.7,140.0,Coffee
42,43,Sep,Bengaluru,240000,500,4.0,95.0,Snacks
43,44,sep,Chennai,260000,510,NaN,115.0,Masala Chai
44,45,Sep,Kolkata,250000,510,4.1,100.0,Sandwiches
45,46,oct,Mumbai,280000,540,4.5,120.0,Coffee
46,47,OCT,Delhi,290000,560,4.6,130.0,Coffee
47,48,Oct,Bengaluru,250000,510,4.2,100.0,Masala Chai
48,49,oct,Chennai,270000,530,4.3,110.0,Snacks
49,50,Oct,Kolkata,240000,500,4.0,95.0,Sandwiches
50,51,nov,Mumbai,300000,570,4.7,135.0,Coffee
51,52,NOV,Delhi,280000,550,4.5,125.0,Masala Chai
52,53,Nov,Bengaluru,260000,520,4.3,100.0,Snacks
53,54,nov,Chennai,290000,560,4.6,130.0,Coffee
54,55,Nov,Kolkata,270000,530,4.4,115.0,Sandwiches
55,56,dec,Mumbai,310000,580,4.8,140.0,Coffee
56,57,DEC,Delhi,300000,570,4.7,135.0,Masala Chai
57,58,Dec,Bengaluru,280000,550,4.5,120.0,Snacks
58,59,dec,Chennai,320000,590,4.9,145.0,Coffee
59,60,Dec,Kolkata,290000,560,4.6,130.0,Sandwiches
60,61,Jan,Mumbai,255000,505,4.3,105.0,Coffee
61,62,jan,Delhi,285000,555,4.6,125.0,Masala Chai
62,63,JAN,Bengaluru,225000,485,NaN,95.0,Snacks
63,64,Jan,Chennai,265000,515,4.4,115.0,Coffee
64,65,jan,Kolkata,235000,495,4.1,100.0,Sandwiches
65,66,Feb,Mumbai,235000,495,4.1,115.0,Coffee
66,67,feb,Delhi,275000,525,4.4,135.0,Masala Chai
67,68,FEB,Bengaluru,205000,465,3.6,85.0,Snacks
68,69,Feb,Chennai,245000,505,4.2,110.0,Coffee
69,70,feb,Kolkata,215000,475,4.0,NaN,Masala Chai
70,71,Mar,Mumbai,265000,515,4.7,120.0,Coffee
71,72,march,Delhi,295000,565,4.9,130.0,Coffee
72,73,MAR,Bengaluru,215000,475,4.0,100.0,Masala Chai
73,74,Mar,Chennai,275000,535,4.5,125.0,Snacks
74,75,mar,Kolkata,245000,505,4.3,105.0,Sandwiches
75,76,Apr,Mumbai,245000,505,4.2,110.0,Coffee
76,77,apr,Delhi,305000,575,4.8,140.0,Coffee
77,78,APR,Bengaluru,235000,495,4.3,105.0,Masala Chai
78,79,Apr,Chennai,255000,515,4.4,115.0,Snacks
79,80,apr,Kolkata,225000,485,3.9,95.0,Sandwiches
80,81,May,Mumbai,275000,535,4.5,115.0,Coffee
81,82,may,Delhi,315000,585,5.0,145.0,Coffee
82,83,MAY,Bengaluru,245000,505,4.1,95.0,Snacks
83,84,May,Chennai,265000,525,4.6,120.0,Masala Chai
84,85,may,Kolkata,235000,495,4.2,105.0,Coffee
85,86,Jun,Mumbai,205000,455,3.8,90.0,Masala Chai
86,87,jun,Delhi,325000,595,4.7,150.0,Coffee
87,88,JUN,Bengaluru,255000,515,4.4,105.0,Snacks
88,89,Jun,Chennai,245000,505,4.1,110.0,Sandwiches
89,90,jun,Kolkata,275000,535,4.5,115.0,Coffee
90,91,Jul,Mumbai,285000,545,4.6,120.0,Coffee
91,92,jul,Delhi,305000,575,4.9,135.0,Masala Chai
92,93,JUL,Bengaluru,265000,525,4.3,105.0,Snacks
93,94,Jul,Chennai,255000,515,4.4,115.0,Coffee
94,95,jul,Kolkata,245000,505,4.1,100.0,Sandwiches
95,96,Aug,Mumbai,295000,555,4.7,125.0,Coffee
96,97,aug,Delhi,275000,535,4.5,120.0,Masala Chai
97,98,AUG,Bengaluru,235000,495,4.0,95.0,Snacks
98,99,Aug,Chennai,285000,545,4.6,130.0,Coffee
99,100,aug,Kolkata,265000,525,4.3,105.0,Masala Chai
100,101,Sep,Mumbai,275000,535,4.4,115.0,Coffee
101,102,sep,Delhi,315000,585,4.8,145.0,Coffee
102,103,SEP,Bengaluru,245000,505,4.1,100.0,Snacks
103,104,Sep,Chennai,265000,515,4.5,120.0,Masala Chai
104,105,sep,Kolkata,255000,515,4.2,105.0,Sandwiches
105,106,Oct,Mumbai,285000,545,4.6,125.0,Coffee
106,107,oct,Delhi,295000,565,4.7,135.0,Coffee
107,108,OCT,Bengaluru,255000,515,4.3,105.0,Masala Chai
108,109,Oct,Chennai,275000,535,4.4,115.0,Snacks
109,110,oct,Kolkata,245000,505,4.1,100.0,Sandwiches
110,111,Nov,Mumbai,305000,575,4.8,140.0,Coffee
111,112,nov,Delhi,285000,555,4.6,130.0,Masala Chai
112,113,NOV,Bengaluru,265000,525,4.4,105.0,Snacks
113,114,Nov,Chennai,295000,565,4.7,135.0,Coffee
114,115,nov,Kolkata,275000,535,4.5,120.0,Sandwiches
115,116,Dec,Mumbai,315000,585,4.9,145.0,Coffee
116,117,dec,Delhi,305000,575,4.8,140.0,Masala Chai
117,118,DEC,Bengaluru,285000,555,4.6,125.0,Snacks
118,119,Dec,Chennai,325000,595,5.0,150.0,Coffee
119,120,dec,Kolkata,295000,565,4.7,135.0,Sandwiches

In [173]:
data_set.head()

,Transaction ID,Transaction Month,Store Location,Total Sales,Items Sold,Customer Satisfaction,Online Orders,Product Category
0,1,jan,Mumbai,250000,500,4.2,100.0,Coffee
1,2,JAN,Delhi,280000,550,4.5,120.0,Masala Chai
2,3,Jan,Bengaluru,220000,480,3.8,90.0,Snacks
3,4,jan,Chennai,260000,510,NaN,110.0,Coffee
4,5,Jan,Kolkata,230000,490,4.0,NaN,Sandwiches

In [175]:
data_set.tail()

,Transaction ID,Transaction Month,Store Location,Total Sales,Items Sold,Customer Satisfaction,Online Orders,Product Category
115,116,Dec,Mumbai,315000,585,4.9,145.0,Coffee
116,117,dec,Delhi,305000,575,4.8,140.0,Masala Chai
117,118,DEC,Bengaluru,285000,555,4.6,125.0,Snacks
118,119,Dec,Chennai,325000,595,5.0,150.0,Coffee
119,120,dec,Kolkata,295000,565,4.7,135.0,Sandwiches

In [177]:
data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Transaction ID         120 non-null    int64
 1   Transaction Month      120 non-null    object
 2   Store Location         120 non-null    object
 3   Total Sales            120 non-null    int64
 4   Items Sold             120 non-null    int64
 5   Customer Satisfaction  115 non-null    float64
 6   Online Orders          116 non-null    float64
 7   Product Category       120 non-null    object
dtypes: float64(2), int64(3), object(3)
memory usage: 7.6+ KB

In [179]:
data_set.shape

(120, 8)

In [183]:
data_set.describe()

,Transaction ID,Total Sales,Items Sold,Customer Satisfaction,Online Orders
count,120.000000,120.000000,120.000000,115.000000,116.000000
mean,60.500000,260575.000000,517.833333,4.378261,114.913793
std,34.785054,44944.533977,76.016178,0.315056,16.536951
min,1.000000,-1000.000000,-10.000000,3.500000,80.000000
25%,30.750000,243750.000000,500.000000,4.150000,100.000000
50%,60.500000,265000.000000,520.000000,4.400000,115.000000
75%,90.250000,285000.000000,551.250000,4.600000,126.250000
max,120.000000,325000.000000,595.000000,5.000000,150.000000

In [186]:
data_set.columns

Index(['Transaction ID', 'Transaction Month', 'Store Location', 'Total Sales',
       'Items Sold', 'Customer Satisfaction', 'Online Orders',
       'Product Category'],
      dtype='object')

In [188]:
customer_data = pd.read_csv("./sample_data.csv")

In [190]:
customer_data

,name,age,department,salary,date,email
0,John Doe,28.0,HR,50000,2023-01-15,john.doe@email.com
1,Jane Smith,NaN,IT,60000,2023-02-10,jane.smith@email.com
2,Bob Jones,45.0,hr,75000,2023-03-20,bob.jones@email.com
3,Alice Brown,32.0,Information Technology,55000,2023-04-05,alice.brown@email.com
4,John Doe,28.0,HR,50000,2023-01-15,john.doe@email.com
5,Tom Wilson,50.0,Finance,120000,2023-05-12,tom.wilson@email.com
6,Sara Lee,29.0,NaN,65000,2023-06-18,sara.lee@email.com
7,Mike Chen,35.0,IT,80000,invalid_date,mike.chen@email.com
8,Emma Davis,60.0,Finance,200000,2023-07-22,emma.davis@email.com
9,Lisa Ray,27.0,HR,52000,2023-08-10,lisa.ray@email.com

In [192]:
customer_data.isnull()

    name    age  department  salary   date  email
0  False  False       False   False  False   False
1  False   True       False   False  False   False
2  False  False       False   False  False   False
3  False  False       False   False  False   False
4  False  False       False   False  False   False
5  False  False       False   False  False   False
6  False  False        True   False  False   False
7  False  False       False   False  False   False
8  False  False       False   False  False   False
9  False  False       False   False  False   False

In [196]:
customer_data.isnull().sum()

name          0
age           1
department    1
salary        0
date          0
email         0
dtype: int64

#### `Drop Missing values`

In [198]:
df.dropna() # drop rows with any missing values

   maths  english
0     41       34
1     43       23
2     23       45
3     22       23

In [200]:
df.dropna(how='all') # drop rows where all values are missing

   maths  english
0     41       34
1     43       23
2     23       45
3     22       23

In [202]:
df.dropna(subset=['email']) # drop rows with missing values in specific columns

KeyError: ['email']

#### `Fill Missing Values`

In [74]:
df.fillna(0) # replace missing values with 0

   maths  english
0     41       34
1     43       23
2     23       45
3     22       23

In [76]:
df.fillna({'column_name' : 'value'}) # fill specific column with a value

   maths  english
0     41       34
1     43       23
2     23       45
3     22       23

In [78]:
df.fillna({"salary" : df['salary'].mean()})

KeyError: 'salary'

#### `Removing Duplicates`
##### `Identify Duplicates`

In [ ]:
customer_data.duplicated() # find duplicate rows

In [ ]:
customer_data.duplicated().sum() # count duplicate rows

In [82]:
customer_data.duplicated(subset=["department"]) # check duplicates based on specific columns

0    False
1    False
2    False
3    False
4     True
5    False
6    False
7     True
8     True
9    False
dtype: bool

In [84]:
df.drop_duplicates() # remove duplicate rows (keeping first occurance)

   maths  english
0     41       34
1     43       23
2     23       45
3     22       23

In [86]:
df.drop_duplicates(keep="last") # keeps last occurance

   maths  english
0     41       34
1     43       23
2     23       45
3     22       23

In [88]:
df.drop_duplicates(subset=["email"]) # remove duplicates based on specific columns

KeyError: Index(['email'], dtype='object')

#### `Data Type Conversion`

In [79]:
customer_data.dtypes

name           object
age           float64
department     object
salary          int64
date           object
email          object
dtype: object

In [95]:
df["date"].astype("str") # convert to a specific type

KeyError: 'date'

In [90]:
pd.to_datetime(customer_data["date"])# convert to a specific type

0   2023-01-15
1   2023-02-10
2   2023-03-20
3   2023-04-05
4   2023-01-15
5   2023-05-12
6   2023-06-18
7          NaT
8   2023-07-22
9   2023-08-10
Name: date, dtype: datetime64[ns]

In [ ]:
pd.to_numeric(df["column"],errors="coerce")

In [91]:
df["column"].str.lower()
df["column"].str.upper()
df["column"].str.strip()
df["column"].str.replace("old","new")

KeyError: 'column'

In [208]:
data_set.groupby("Store Location")["Total Sales"].mean()

Store Location
Bengaluru    241666.666667
Chennai      268333.333333
Delhi        295833.333333
Kolkata      229541.666667
Mumbai       267500.000000
Name: Total Sales, dtype: float64

In [210]:
pd.pivot_table(data_set,values='Total Sales',index="Store Location",columns="Transaction Month", aggfunc="sum")

Transaction Month,APR,AUG,Apr,Apr,Aug,Aug,DEC,Dec,Dec,FEB,...,jan,jul,jun,mar,march,march,may,nov,oct,sep
Store Location,,,,,,,,,,,,,,,,,,,,,
Bengaluru,235000.0,235000.0,NaN,230000.0,NaN,230000.0,285000.0,NaN,280000.0,205000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Chennai,NaN,NaN,NaN,255000.0,NaN,285000.0,NaN,NaN,325000.0,NaN,...,260000.0,250000.0,240000.0,NaN,270000.0,NaN,260000.0,290000.0,270000.0,260000.0
Delhi,300000.0,270000.0,NaN,NaN,NaN,NaN,300000.0,NaN,NaN,270000.0,...,285000.0,305000.0,325000.0,NaN,295000.0,NaN,315000.0,285000.0,295000.0,315000.0
Kolkata,NaN,NaN,220000.0,NaN,260000.0,NaN,NaN,290000.0,NaN,NaN,...,235000.0,245000.0,275000.0,245000.0,NaN,NaN,235000.0,275000.0,245000.0,255000.0
Mumbai,NaN,NaN,245000.0,NaN,295000.0,NaN,NaN,315000.0,NaN,NaN,...,250000.0,280000.0,200000.0,NaN,NaN,260000.0,270000.0,300000.0,280000.0,270000.0

In [212]:
data_set["Total Sales"].apply(lambda x : x * 1.1 if x > 250000 else x)

0      250000.0
1      308000.0
2      220000.0
3      286000.0
4      230000.0
5      230000.0
6      297000.0
7      200000.0
8      240000.0
9           0.0
10     286000.0
11     319000.0
12     210000.0
13     297000.0
14     240000.0
15     240000.0
16     330000.0
17     230000.0
18     250000.0
19     220000.0
20     297000.0
21     341000.0
22     240000.0
23     286000.0
24     230000.0
25     200000.0
26     352000.0
27     250000.0
28     240000.0
29     297000.0
30     308000.0
31     330000.0
32     286000.0
33     250000.0
34      -1000.0
35     319000.0
36     297000.0
37     230000.0
38     308000.0
39     286000.0
40     297000.0
41     341000.0
42     240000.0
43     286000.0
44     250000.0
45     308000.0
46     319000.0
47     250000.0
48     297000.0
49     240000.0
50     330000.0
51     308000.0
52     286000.0
53     319000.0
54     297000.0
55     341000.0
56     330000.0
57     308000.0
58     352000.0
59     319000.0
60     280500.0
61     313500.0
62     225000.0
63     291500.0
64     235000.0
65     235000.0
66     302500.0
67     205000.0
68     245000.0
69     215000.0
70     291500.0
71     324500.0
72     215000.0
73     302500.0
74     245000.0
75     245000.0
76     335500.0
77     235000.0
78     280500.0
79     225000.0
80     302500.0
81     346500.0
82     245000.0
83     291500.0
84     235000.0
85     205000.0
86     357500.0
87     280500.0
88     245000.0
89     302500.0
90     313500.0
91     335500.0
92     291500.0
93     280500.0
94     245000.0
95     324500.0
96     302500.0
97     235000.0
98     313500.0
99     291500.0
100    302500.0
101    346500.0
102    245000.0
103    291500.0
104    280500.0
105    313500.0
106    324500.0
107    280500.0
108    302500.0
109    245000.0
110    335500.0
111    313500.0
112    291500.0
113    324500.0
114    302500.0
115    346500.0
116    335500.0
117    313500.0
118    357500.0
119    324500.0
Name: Total Sales, dtype: float64

In [218]:
data_set["Total Sales"]

0      250000
1      280000
2      220000
3      260000
4      230000
5      230000
6      270000
7      200000
8      240000
9           0
10     260000
11     290000
12     210000
13     270000
14     240000
15     240000
16     300000
17     230000
18     250000
19     220000
20     270000
21     310000
22     240000
23     260000
24     230000
25     200000
26     320000
27     250000
28     240000
29     270000
30     280000
31     300000
32     260000
33     250000
34      -1000
35     290000
36     270000
37     230000
38     280000
39     260000
40     270000
41     310000
42     240000
43     260000
44     250000
45     280000
46     290000
47     250000
48     270000
49     240000
50     300000
51     280000
52     260000
53     290000
54     270000
55     310000
56     300000
57     280000
58     320000
59     290000
60     255000
61     285000
62     225000
63     265000
64     235000
65     235000
66     275000
67     205000
68     245000
69     215000
70     265000
71     295000
72     215000
73     275000
74     245000
75     245000
76     305000
77     235000
78     255000
79     225000
80     275000
81     315000
82     245000
83     265000
84     235000
85     205000
86     325000
87     255000
88     245000
89     275000
90     285000
91     305000
92     265000
93     255000
94     245000
95     295000
96     275000
97     235000
98     285000
99     265000
100    275000
101    315000
102    245000
103    265000
104    255000
105    285000
106    295000
107    255000
108    275000
109    245000
110    305000
111    285000
112    265000
113    295000
114    275000
115    315000
116    305000
117    285000
118    325000
119    295000
Name: Total Sales, dtype: int64

In [222]:
data_set["Transaction Month"] = data_set['Transaction Month'].str.lower()

In [224]:
valid_months = ['jan',"feb",'mar','apr','may','jun','jul','aug','sept','oct','nov','dec']

In [226]:
data_set['Transaction Month'] = data_set['Transaction Month'].apply(lambda x : x if x in valid_months else None)

In [228]:
data_set['Transaction Month']

0       jan
1       jan
2      None
3       jan
4       jan
5       feb
6       feb
7      None
8       feb
9       feb
10     None
11      mar
12      mar
13     None
14      mar
15      apr
16      apr
17     None
18      apr
19      apr
20      may
21      may
22      may
23      may
24      may
25      jun
26      jun
27     None
28      jun
29      jun
30      jul
31      jul
32     None
33      jul
34      jul
35      aug
36      aug
37     None
38      aug
39      aug
40     None
41     None
42     None
43     None
44     None
45      oct
46      oct
47     None
48      oct
49      oct
50      nov
51      nov
52     None
53      nov
54      nov
55      dec
56      dec
57     None
58      dec
59      dec
60      jan
61      jan
62      jan
63     None
64      jan
65      feb
66      feb
67      feb
68     None
69      feb
70      mar
71     None
72      mar
73     None
74      mar
75      apr
76      apr
77      apr
78     None
79      apr
80      may
81      may
82      may
83     None
84      may
85      jun
86      jun
87      jun
88     None
89      jun
90      jul
91      jul
92      jul
93     None
94      jul
95      aug
96      aug
97      aug
98     None
99      aug
100    None
101    None
102    None
103    None
104    None
105     oct
106     oct
107     oct
108    None
109     oct
110     nov
111     nov
112     nov
113    None
114     nov
115     dec
116     dec
117     dec
118    None
119     dec
Name: Transaction Month, dtype: object

In [230]:
invalid_months = data_set[data_set['Transaction Month'].isna()]

In [232]:
invalid_months

,Transaction ID,Transaction Month,Store Location,Total Sales,Items Sold,Customer Satisfaction,Online Orders,Product Category
2,3,None,Bengaluru,220000,480,3.8,90.0,Snacks
7,8,None,Bengaluru,200000,460,3.5,80.0,Snacks
10,11,None,Mumbai,260000,510,4.6,115.0,Coffee
13,14,None,Chennai,270000,530,4.4,120.0,Snacks
17,18,None,Bengaluru,230000,490,4.2,NaN,Masala Chai
27,28,None,Bengaluru,250000,510,4.3,100.0,Snacks
32,33,None,Bengaluru,260000,520,4.2,100.0,Snacks
37,38,None,Bengaluru,230000,490,3.9,90.0,Snacks
40,41,None,Mumbai,270000,530,4.3,110.0,Coffee
41,42,None,Delhi,310000,580,4.7,140.0,Coffee
42,43,None,Bengaluru,240000,500,4.0,95.0,Snacks
43,44,None,Chennai,260000,510,NaN,115.0,Masala Chai
44,45,None,Kolkata,250000,510,4.1,100.0,Sandwiches
47,48,None,Bengaluru,250000,510,4.2,100.0,Masala Chai
52,53,None,Bengaluru,260000,520,4.3,100.0,Snacks
57,58,None,Bengaluru,280000,550,4.5,120.0,Snacks
63,64,None,Chennai,265000,515,4.4,115.0,Coffee
68,69,None,Chennai,245000,505,4.2,110.0,Coffee
71,72,None,Delhi,295000,565,4.9,130.0,Coffee
73,74,None,Chennai,275000,535,4.5,125.0,Snacks
78,79,None,Chennai,255000,515,4.4,115.0,Snacks
83,84,None,Chennai,265000,525,4.6,120.0,Masala Chai
88,89,None,Chennai,245000,505,4.1,110.0,Sandwiches
93,94,None,Chennai,255000,515,4.4,115.0,Coffee
98,99,None,Chennai,285000,545,4.6,130.0,Coffee
100,101,None,Mumbai,275000,535,4.4,115.0,Coffee
101,102,None,Delhi,315000,585,4.8,145.0,Coffee
102,103,None,Bengaluru,245000,505,4.1,100.0,Snacks
103,104,None,Chennai,265000,515,4.5,120.0,Masala Chai
104,105,None,Kolkata,255000,515,4.2,105.0,Sandwiches
108,109,None,Chennai,275000,535,4.4,115.0,Snacks
113,114,None,Chennai,295000,565,4.7,135.0,Coffee
118,119,None,Chennai,325000,595,5.0,150.0,Coffee

In [238]:
if not invalid_months.empty:
    print("Warning : Invalid month values found and set to None :")
    print(invalid_months[['Transaction ID','Transaction Month']])

Warning : Invalid month values found and set to None :
     Transaction ID Transaction Month
2                 3              None
7                 8              None
10               11              None
13               14              None
17               18              None
27               28              None
32               33              None
37               38              None
40               41              None
41               42              None
42               43              None
43               44              None
44               45              None
47               48              None
52               53              None
57               58              None
63               64              None
68               69              None
71               72              None
73               74              None
78               79              None
83               84              None
88               89              None
93               94              None
98               99              None
100             101              None
101             102              None
102             103              None
103             104              None
104             105              None
108             109              None
113             114              None
118             119              None

In [240]:
pd.pivot_table(data_set,values='Total Sales',index="Store Location",columns="Transaction Month", aggfunc="sum")

Transaction Month,apr,aug,dec,feb,jan,jul,jun,mar,may,nov,oct
Store Location,,,,,,,,,,,
Bengaluru,235000.0,235000.0,285000.0,205000.0,225000.0,265000.0,255000.0,425000.0,485000.0,265000.0,255000.0
Chennai,250000.0,280000.0,320000.0,240000.0,260000.0,250000.0,240000.0,NaN,260000.0,290000.0,270000.0
Delhi,605000.0,545000.0,605000.0,545000.0,565000.0,605000.0,645000.0,290000.0,625000.0,565000.0,585000.0
Kolkata,445000.0,525000.0,585000.0,215000.0,465000.0,244000.0,545000.0,485000.0,465000.0,545000.0,485000.0
Mumbai,485000.0,585000.0,625000.0,465000.0,505000.0,565000.0,405000.0,265000.0,545000.0,605000.0,565000.0

In [245]:
data_set['Total Sales'] = data_set["Total Sales"].apply(lambda x :0 if x < 0 else x)
data_set['Items Sold'] = data_set["Items Sold"].apply(lambda x : 0 if x < 0 else x)

In [247]:
data_set

,Transaction ID,Transaction Month,Store Location,Total Sales,Items Sold,Customer Satisfaction,Online Orders,Product Category
0,1,jan,Mumbai,250000,500,4.2,100.0,Coffee
1,2,jan,Delhi,280000,550,4.5,120.0,Masala Chai
2,3,None,Bengaluru,220000,480,3.8,90.0,Snacks
3,4,jan,Chennai,260000,510,NaN,110.0,Coffee
4,5,jan,Kolkata,230000,490,4.0,NaN,Sandwiches
5,6,feb,Mumbai,230000,490,4.0,110.0,Coffee
6,7,feb,Delhi,270000,520,4.3,130.0,Masala Chai
7,8,None,Bengaluru,200000,460,3.5,80.0,Snacks
8,9,feb,Chennai,240000,500,4.1,105.0,Coffee
9,10,feb,Kolkata,0,0,3.9,90.0,Masala Chai
10,11,None,Mumbai,260000,510,4.6,115.0,Coffee
11,12,mar,Delhi,290000,560,4.8,125.0,Coffee
12,13,mar,Bengaluru,210000,470,NaN,95.0,Masala Chai
13,14,None,Chennai,270000,530,4.4,120.0,Snacks
14,15,mar,Kolkata,240000,500,4.2,100.0,Sandwiches
15,16,apr,Mumbai,240000,500,4.1,105.0,Coffee
16,17,apr,Delhi,300000,570,4.7,135.0,Coffee
17,18,None,Bengaluru,230000,490,4.2,NaN,Masala Chai
18,19,apr,Chennai,250000,510,4.3,110.0,Snacks
19,20,apr,Kolkata,220000,480,3.8,90.0,Sandwiches
20,21,may,Mumbai,270000,530,4.4,110.0,Coffee
21,22,may,Delhi,310000,580,4.9,140.0,Coffee
22,23,may,Bengaluru,240000,500,NaN,90.0,Snacks
23,24,may,Chennai,260000,520,4.5,115.0,Masala Chai
24,25,may,Kolkata,230000,490,4.1,100.0,Coffee
25,26,jun,Mumbai,200000,450,3.7,85.0,Masala Chai
26,27,jun,Delhi,320000,590,4.6,145.0,Coffee
27,28,None,Bengaluru,250000,510,4.3,100.0,Snacks
28,29,jun,Chennai,240000,500,4.0,105.0,Sandwiches
29,30,jun,Kolkata,270000,530,4.4,NaN,Coffee
30,31,jul,Mumbai,280000,540,4.5,115.0,Coffee
31,32,jul,Delhi,300000,570,4.8,130.0,Masala Chai
32,33,None,Bengaluru,260000,520,4.2,100.0,Snacks
33,34,jul,Chennai,250000,510,4.3,110.0,Coffee
34,35,jul,Kolkata,0,0,4.0,95.0,Sandwiches
35,36,aug,Mumbai,290000,550,4.6,120.0,Coffee
36,37,aug,Delhi,270000,530,4.4,115.0,Masala Chai
37,38,None,Bengaluru,230000,490,3.9,90.0,Snacks
38,39,aug,Chennai,280000,540,4.5,125.0,Coffee
39,40,aug,Kolkata,260000,520,4.2,100.0,Masala Chai
40,41,None,Mumbai,270000,530,4.3,110.0,Coffee
41,42,None,Delhi,310000,580,4.7,140.0,Coffee
42,43,None,Bengaluru,240000,500,4.0,95.0,Snacks
43,44,None,Chennai,260000,510,NaN,115.0,Masala Chai
44,45,None,Kolkata,250000,510,4.1,100.0,Sandwiches
45,46,oct,Mumbai,280000,540,4.5,120.0,Coffee
46,47,oct,Delhi,290000,560,4.6,130.0,Coffee
47,48,None,Bengaluru,250000,510,4.2,100.0,Masala Chai
48,49,oct,Chennai,270000,530,4.3,110.0,Snacks
49,50,oct,Kolkata,240000,500,4.0,95.0,Sandwiches
50,51,nov,Mumbai,300000,570,4.7,135.0,Coffee
51,52,nov,Delhi,280000,550,4.5,125.0,Masala Chai
52,53,None,Bengaluru,260000,520,4.3,100.0,Snacks
53,54,nov,Chennai,290000,560,4.6,130.0,Coffee
54,55,nov,Kolkata,270000,530,4.4,115.0,Sandwiches
55,56,dec,Mumbai,310000,580,4.8,140.0,Coffee
56,57,dec,Delhi,300000,570,4.7,135.0,Masala Chai
57,58,None,Bengaluru,280000,550,4.5,120.0,Snacks
58,59,dec,Chennai,320000,590,4.9,145.0,Coffee
59,60,dec,Kolkata,290000,560,4.6,130.0,Sandwiches
60,61,jan,Mumbai,255000,505,4.3,105.0,Coffee
61,62,jan,Delhi,285000,555,4.6,125.0,Masala Chai
62,63,jan,Bengaluru,225000,485,NaN,95.0,Snacks
63,64,None,Chennai,265000,515,4.4,115.0,Coffee
64,65,jan,Kolkata,235000,495,4.1,100.0,Sandwiches
65,66,feb,Mumbai,235000,495,4.1,115.0,Coffee
66,67,feb,Delhi,275000,525,4.4,135.0,Masala Chai
67,68,feb,Bengaluru,205000,465,3.6,85.0,Snacks
68,69,None,Chennai,245000,505,4.2,110.0,Coffee
69,70,feb,Kolkata,215000,475,4.0,NaN,Masala Chai
70,71,mar,Mumbai,265000,515,4.7,120.0,Coffee
71,72,None,Delhi,295000,565,4.9,130.0,Coffee
72,73,mar,Bengaluru,215000,475,4.0,100.0,Masala Chai
73,74,None,Chennai,275000,535,4.5,125.0,Snacks
74,75,mar,Kolkata,245000,505,4.3,105.0,Sandwiches
75,76,apr,Mumbai,245000,505,4.2,110.0,Coffee
76,77,apr,Delhi,305000,575,4.8,140.0,Coffee
77,78,apr,Bengaluru,235000,495,4.3,105.0,Masala Chai
78,79,None,Chennai,255000,515,4.4,115.0,Snacks
79,80,apr,Kolkata,225000,485,3.9,95.0,Sandwiches
80,81,may,Mumbai,275000,535,4.5,115.0,Coffee
81,82,may,Delhi,315000,585,5.0,145.0,Coffee
82,83,may,Bengaluru,245000,505,4.1,95.0,Snacks
83,84,None,Chennai,265000,525,4.6,120.0,Masala Chai
84,85,may,Kolkata,235000,495,4.2,105.0,Coffee
85,86,jun,Mumbai,205000,455,3.8,90.0,Masala Chai
86,87,jun,Delhi,325000,595,4.7,150.0,Coffee
87,88,jun,Bengaluru,255000,515,4.4,105.0,Snacks
88,89,None,Chennai,245000,505,4.1,110.0,Sandwiches
89,90,jun,Kolkata,275000,535,4.5,115.0,Coffee
90,91,jul,Mumbai,285000,545,4.6,120.0,Coffee
91,92,jul,Delhi,305000,575,4.9,135.0,Masala Chai
92,93,jul,Bengaluru,265000,525,4.3,105.0,Snacks
93,94,None,Chennai,255000,515,4.4,115.0,Coffee
94,95,jul,Kolkata,245000,505,4.1,100.0,Sandwiches
95,96,aug,Mumbai,295000,555,4.7,125.0,Coffee
96,97,aug,Delhi,275000,535,4.5,120.0,Masala Chai
97,98,aug,Bengaluru,235000,495,4.0,95.0,Snacks
98,99,None,Chennai,285000,545,4.6,130.0,Coffee
99,100,aug,Kolkata,265000,525,4.3,105.0,Masala Chai
100,101,None,Mumbai,275000,535,4.4,115.0,Coffee
101,102,None,Delhi,315000,585,4.8,145.0,Coffee
102,103,None,Bengaluru,245000,505,4.1,100.0,Snacks
103,104,None,Chennai,265000,515,4.5,120.0,Masala Chai
104,105,None,Kolkata,255000,515,4.2,105.0,Sandwiches
105,106,oct,Mumbai,285000,545,4.6,125.0,Coffee
106,107,oct,Delhi,295000,565,4.7,135.0,Coffee
107,108,oct,Bengaluru,255000,515,4.3,105.0,Masala Chai
108,109,None,Chennai,275000,535,4.4,115.0,Snacks
109,110,oct,Kolkata,245000,505,4.1,100.0,Sandwiches
110,111,nov,Mumbai,305000,575,4.8,140.0,Coffee
111,112,nov,Delhi,285000,555,4.6,130.0,Masala Chai
112,113,nov,Bengaluru,265000,525,4.4,105.0,Snacks
113,114,None,Chennai,295000,565,4.7,135.0,Coffee
114,115,nov,Kolkata,275000,535,4.5,120.0,Sandwiches
115,116,dec,Mumbai,315000,585,4.9,145.0,Coffee
116,117,dec,Delhi,305000,575,4.8,140.0,Masala Chai
117,118,dec,Bengaluru,285000,555,4.6,125.0,Snacks
118,119,None,Chennai,325000,595,5.0,150.0,Coffee
119,120,dec,Kolkata,295000,565,4.7,135.0,Sandwiches

In [249]:
data_set['Customer Satisfaction'] = data_set['Customer Satisfaction'].fillna(data_set['Customer Satisfaction'].median())

In [251]:
data_set

,Transaction ID,Transaction Month,Store Location,Total Sales,Items Sold,Customer Satisfaction,Online Orders,Product Category
0,1,jan,Mumbai,250000,500,4.2,100.0,Coffee
1,2,jan,Delhi,280000,550,4.5,120.0,Masala Chai
2,3,None,Bengaluru,220000,480,3.8,90.0,Snacks
3,4,jan,Chennai,260000,510,4.4,110.0,Coffee
4,5,jan,Kolkata,230000,490,4.0,NaN,Sandwiches
5,6,feb,Mumbai,230000,490,4.0,110.0,Coffee
6,7,feb,Delhi,270000,520,4.3,130.0,Masala Chai
7,8,None,Bengaluru,200000,460,3.5,80.0,Snacks
8,9,feb,Chennai,240000,500,4.1,105.0,Coffee
9,10,feb,Kolkata,0,0,3.9,90.0,Masala Chai
10,11,None,Mumbai,260000,510,4.6,115.0,Coffee
11,12,mar,Delhi,290000,560,4.8,125.0,Coffee
12,13,mar,Bengaluru,210000,470,4.4,95.0,Masala Chai
13,14,None,Chennai,270000,530,4.4,120.0,Snacks
14,15,mar,Kolkata,240000,500,4.2,100.0,Sandwiches
15,16,apr,Mumbai,240000,500,4.1,105.0,Coffee
16,17,apr,Delhi,300000,570,4.7,135.0,Coffee
17,18,None,Bengaluru,230000,490,4.2,NaN,Masala Chai
18,19,apr,Chennai,250000,510,4.3,110.0,Snacks
19,20,apr,Kolkata,220000,480,3.8,90.0,Sandwiches
20,21,may,Mumbai,270000,530,4.4,110.0,Coffee
21,22,may,Delhi,310000,580,4.9,140.0,Coffee
22,23,may,Bengaluru,240000,500,4.4,90.0,Snacks
23,24,may,Chennai,260000,520,4.5,115.0,Masala Chai
24,25,may,Kolkata,230000,490,4.1,100.0,Coffee
25,26,jun,Mumbai,200000,450,3.7,85.0,Masala Chai
26,27,jun,Delhi,320000,590,4.6,145.0,Coffee
27,28,None,Bengaluru,250000,510,4.3,100.0,Snacks
28,29,jun,Chennai,240000,500,4.0,105.0,Sandwiches
29,30,jun,Kolkata,270000,530,4.4,NaN,Coffee
30,31,jul,Mumbai,280000,540,4.5,115.0,Coffee
31,32,jul,Delhi,300000,570,4.8,130.0,Masala Chai
32,33,None,Bengaluru,260000,520,4.2,100.0,Snacks
33,34,jul,Chennai,250000,510,4.3,110.0,Coffee
34,35,jul,Kolkata,0,0,4.0,95.0,Sandwiches
35,36,aug,Mumbai,290000,550,4.6,120.0,Coffee
36,37,aug,Delhi,270000,530,4.4,115.0,Masala Chai
37,38,None,Bengaluru,230000,490,3.9,90.0,Snacks
38,39,aug,Chennai,280000,540,4.5,125.0,Coffee
39,40,aug,Kolkata,260000,520,4.2,100.0,Masala Chai
40,41,None,Mumbai,270000,530,4.3,110.0,Coffee
41,42,None,Delhi,310000,580,4.7,140.0,Coffee
42,43,None,Bengaluru,240000,500,4.0,95.0,Snacks
43,44,None,Chennai,260000,510,4.4,115.0,Masala Chai
44,45,None,Kolkata,250000,510,4.1,100.0,Sandwiches
45,46,oct,Mumbai,280000,540,4.5,120.0,Coffee
46,47,oct,Delhi,290000,560,4.6,130.0,Coffee
47,48,None,Bengaluru,250000,510,4.2,100.0,Masala Chai
48,49,oct,Chennai,270000,530,4.3,110.0,Snacks
49,50,oct,Kolkata,240000,500,4.0,95.0,Sandwiches
50,51,nov,Mumbai,300000,570,4.7,135.0,Coffee
51,52,nov,Delhi,280000,550,4.5,125.0,Masala Chai
52,53,None,Bengaluru,260000,520,4.3,100.0,Snacks
53,54,nov,Chennai,290000,560,4.6,130.0,Coffee
54,55,nov,Kolkata,270000,530,4.4,115.0,Sandwiches
55,56,dec,Mumbai,310000,580,4.8,140.0,Coffee
56,57,dec,Delhi,300000,570,4.7,135.0,Masala Chai
57,58,None,Bengaluru,280000,550,4.5,120.0,Snacks
58,59,dec,Chennai,320000,590,4.9,145.0,Coffee
59,60,dec,Kolkata,290000,560,4.6,130.0,Sandwiches
60,61,jan,Mumbai,255000,505,4.3,105.0,Coffee
61,62,jan,Delhi,285000,555,4.6,125.0,Masala Chai
62,63,jan,Bengaluru,225000,485,4.4,95.0,Snacks
63,64,None,Chennai,265000,515,4.4,115.0,Coffee
64,65,jan,Kolkata,235000,495,4.1,100.0,Sandwiches
65,66,feb,Mumbai,235000,495,4.1,115.0,Coffee
66,67,feb,Delhi,275000,525,4.4,135.0,Masala Chai
67,68,feb,Bengaluru,205000,465,3.6,85.0,Snacks
68,69,None,Chennai,245000,505,4.2,110.0,Coffee
69,70,feb,Kolkata,215000,475,4.0,NaN,Masala Chai
70,71,mar,Mumbai,265000,515,4.7,120.0,Coffee
71,72,None,Delhi,295000,565,4.9,130.0,Coffee
72,73,mar,Bengaluru,215000,475,4.0,100.0,Masala Chai
73,74,None,Chennai,275000,535,4.5,125.0,Snacks
74,75,mar,Kolkata,245000,505,4.3,105.0,Sandwiches
75,76,apr,Mumbai,245000,505,4.2,110.0,Coffee
76,77,apr,Delhi,305000,575,4.8,140.0,Coffee
77,78,apr,Bengaluru,235000,495,4.3,105.0,Masala Chai
78,79,None,Chennai,255000,515,4.4,115.0,Snacks
79,80,apr,Kolkata,225000,485,3.9,95.0,Sandwiches
80,81,may,Mumbai,275000,535,4.5,115.0,Coffee
81,82,may,Delhi,315000,585,5.0,145.0,Coffee
82,83,may,Bengaluru,245000,505,4.1,95.0,Snacks
83,84,None,Chennai,265000,525,4.6,120.0,Masala Chai
84,85,may,Kolkata,235000,495,4.2,105.0,Coffee
85,86,jun,Mumbai,205000,455,3.8,90.0,Masala Chai
86,87,jun,Delhi,325000,595,4.7,150.0,Coffee
87,88,jun,Bengaluru,255000,515,4.4,105.0,Snacks
88,89,None,Chennai,245000,505,4.1,110.0,Sandwiches
89,90,jun,Kolkata,275000,535,4.5,115.0,Coffee
90,91,jul,Mumbai,285000,545,4.6,120.0,Coffee
91,92,jul,Delhi,305000,575,4.9,135.0,Masala Chai
92,93,jul,Bengaluru,265000,525,4.3,105.0,Snacks
93,94,None,Chennai,255000,515,4.4,115.0,Coffee
94,95,jul,Kolkata,245000,505,4.1,100.0,Sandwiches
95,96,aug,Mumbai,295000,555,4.7,125.0,Coffee
96,97,aug,Delhi,275000,535,4.5,120.0,Masala Chai
97,98,aug,Bengaluru,235000,495,4.0,95.0,Snacks
98,99,None,Chennai,285000,545,4.6,130.0,Coffee
99,100,aug,Kolkata,265000,525,4.3,105.0,Masala Chai
100,101,None,Mumbai,275000,535,4.4,115.0,Coffee
101,102,None,Delhi,315000,585,4.8,145.0,Coffee
102,103,None,Bengaluru,245000,505,4.1,100.0,Snacks
103,104,None,Chennai,265000,515,4.5,120.0,Masala Chai
104,105,None,Kolkata,255000,515,4.2,105.0,Sandwiches
105,106,oct,Mumbai,285000,545,4.6,125.0,Coffee
106,107,oct,Delhi,295000,565,4.7,135.0,Coffee
107,108,oct,Bengaluru,255000,515,4.3,105.0,Masala Chai
108,109,None,Chennai,275000,535,4.4,115.0,Snacks
109,110,oct,Kolkata,245000,505,4.1,100.0,Sandwiches
110,111,nov,Mumbai,305000,575,4.8,140.0,Coffee
111,112,nov,Delhi,285000,555,4.6,130.0,Masala Chai
112,113,nov,Bengaluru,265000,525,4.4,105.0,Snacks
113,114,None,Chennai,295000,565,4.7,135.0,Coffee
114,115,nov,Kolkata,275000,535,4.5,120.0,Sandwiches
115,116,dec,Mumbai,315000,585,4.9,145.0,Coffee
116,117,dec,Delhi,305000,575,4.8,140.0,Masala Chai
117,118,dec,Bengaluru,285000,555,4.6,125.0,Snacks
118,119,None,Chennai,325000,595,5.0,150.0,Coffee
119,120,dec,Kolkata,295000,565,4.7,135.0,Sandwiches

In [253]:
data_set['Online Orders'] = data_set['Online Orders'].fillna(data_set["Online Orders"].mean())

In [255]:
data_set

,Transaction ID,Transaction Month,Store Location,Total Sales,Items Sold,Customer Satisfaction,Online Orders,Product Category
0,1,jan,Mumbai,250000,500,4.2,100.000000,Coffee
1,2,jan,Delhi,280000,550,4.5,120.000000,Masala Chai
2,3,None,Bengaluru,220000,480,3.8,90.000000,Snacks
3,4,jan,Chennai,260000,510,4.4,110.000000,Coffee
4,5,jan,Kolkata,230000,490,4.0,114.913793,Sandwiches
5,6,feb,Mumbai,230000,490,4.0,110.000000,Coffee
6,7,feb,Delhi,270000,520,4.3,130.000000,Masala Chai
7,8,None,Bengaluru,200000,460,3.5,80.000000,Snacks
8,9,feb,Chennai,240000,500,4.1,105.000000,Coffee
9,10,feb,Kolkata,0,0,3.9,90.000000,Masala Chai
10,11,None,Mumbai,260000,510,4.6,115.000000,Coffee
11,12,mar,Delhi,290000,560,4.8,125.000000,Coffee
12,13,mar,Bengaluru,210000,470,4.4,95.000000,Masala Chai
13,14,None,Chennai,270000,530,4.4,120.000000,Snacks
14,15,mar,Kolkata,240000,500,4.2,100.000000,Sandwiches
15,16,apr,Mumbai,240000,500,4.1,105.000000,Coffee
16,17,apr,Delhi,300000,570,4.7,135.000000,Coffee
17,18,None,Bengaluru,230000,490,4.2,114.913793,Masala Chai
18,19,apr,Chennai,250000,510,4.3,110.000000,Snacks
19,20,apr,Kolkata,220000,480,3.8,90.000000,Sandwiches
20,21,may,Mumbai,270000,530,4.4,110.000000,Coffee
21,22,may,Delhi,310000,580,4.9,140.000000,Coffee
22,23,may,Bengaluru,240000,500,4.4,90.000000,Snacks
23,24,may,Chennai,260000,520,4.5,115.000000,Masala Chai
24,25,may,Kolkata,230000,490,4.1,100.000000,Coffee
25,26,jun,Mumbai,200000,450,3.7,85.000000,Masala Chai
26,27,jun,Delhi,320000,590,4.6,145.000000,Coffee
27,28,None,Bengaluru,250000,510,4.3,100.000000,Snacks
28,29,jun,Chennai,240000,500,4.0,105.000000,Sandwiches
29,30,jun,Kolkata,270000,530,4.4,114.913793,Coffee
30,31,jul,Mumbai,280000,540,4.5,115.000000,Coffee
31,32,jul,Delhi,300000,570,4.8,130.000000,Masala Chai
32,33,None,Bengaluru,260000,520,4.2,100.000000,Snacks
33,34,jul,Chennai,250000,510,4.3,110.000000,Coffee
34,35,jul,Kolkata,0,0,4.0,95.000000,Sandwiches
35,36,aug,Mumbai,290000,550,4.6,120.000000,Coffee
36,37,aug,Delhi,270000,530,4.4,115.000000,Masala Chai
37,38,None,Bengaluru,230000,490,3.9,90.000000,Snacks
38,39,aug,Chennai,280000,540,4.5,125.000000,Coffee
39,40,aug,Kolkata,260000,520,4.2,100.000000,Masala Chai
40,41,None,Mumbai,270000,530,4.3,110.000000,Coffee
41,42,None,Delhi,310000,580,4.7,140.000000,Coffee
42,43,None,Bengaluru,240000,500,4.0,95.000000,Snacks
43,44,None,Chennai,260000,510,4.4,115.000000,Masala Chai
44,45,None,Kolkata,250000,510,4.1,100.000000,Sandwiches
45,46,oct,Mumbai,280000,540,4.5,120.000000,Coffee
46,47,oct,Delhi,290000,560,4.6,130.000000,Coffee
47,48,None,Bengaluru,250000,510,4.2,100.000000,Masala Chai
48,49,oct,Chennai,270000,530,4.3,110.000000,Snacks
49,50,oct,Kolkata,240000,500,4.0,95.000000,Sandwiches
50,51,nov,Mumbai,300000,570,4.7,135.000000,Coffee
51,52,nov,Delhi,280000,550,4.5,125.000000,Masala Chai
52,53,None,Bengaluru,260000,520,4.3,100.000000,Snacks
53,54,nov,Chennai,290000,560,4.6,130.000000,Coffee
54,55,nov,Kolkata,270000,530,4.4,115.000000,Sandwiches
55,56,dec,Mumbai,310000,580,4.8,140.000000,Coffee
56,57,dec,Delhi,300000,570,4.7,135.000000,Masala Chai
57,58,None,Bengaluru,280000,550,4.5,120.000000,Snacks
58,59,dec,Chennai,320000,590,4.9,145.000000,Coffee
59,60,dec,Kolkata,290000,560,4.6,130.000000,Sandwiches
60,61,jan,Mumbai,255000,505,4.3,105.000000,Coffee
61,62,jan,Delhi,285000,555,4.6,125.000000,Masala Chai
62,63,jan,Bengaluru,225000,485,4.4,95.000000,Snacks
63,64,None,Chennai,265000,515,4.4,115.000000,Coffee
64,65,jan,Kolkata,235000,495,4.1,100.000000,Sandwiches
65,66,feb,Mumbai,235000,495,4.1,115.000000,Coffee
66,67,feb,Delhi,275000,525,4.4,135.000000,Masala Chai
67,68,feb,Bengaluru,205000,465,3.6,85.000000,Snacks
68,69,None,Chennai,245000,505,4.2,110.000000,Coffee
69,70,feb,Kolkata,215000,475,4.0,114.913793,Masala Chai
70,71,mar,Mumbai,265000,515,4.7,120.000000,Coffee
71,72,None,Delhi,295000,565,4.9,130.000000,Coffee
72,73,mar,Bengaluru,215000,475,4.0,100.000000,Masala Chai
73,74,None,Chennai,275000,535,4.5,125.000000,Snacks
74,75,mar,Kolkata,245000,505,4.3,105.000000,Sandwiches
75,76,apr,Mumbai,245000,505,4.2,110.000000,Coffee
76,77,apr,Delhi,305000,575,4.8,140.000000,Coffee
77,78,apr,Bengaluru,235000,495,4.3,105.000000,Masala Chai
78,79,None,Chennai,255000,515,4.4,115.000000,Snacks
79,80,apr,Kolkata,225000,485,3.9,95.000000,Sandwiches
80,81,may,Mumbai,275000,535,4.5,115.000000,Coffee
81,82,may,Delhi,315000,585,5.0,145.000000,Coffee
82,83,may,Bengaluru,245000,505,4.1,95.000000,Snacks
83,84,None,Chennai,265000,525,4.6,120.000000,Masala Chai
84,85,may,Kolkata,235000,495,4.2,105.000000,Coffee
85,86,jun,Mumbai,205000,455,3.8,90.000000,Masala Chai
86,87,jun,Delhi,325000,595,4.7,150.000000,Coffee
87,88,jun,Bengaluru,255000,515,4.4,105.000000,Snacks
88,89,None,Chennai,245000,505,4.1,110.000000,Sandwiches
89,90,jun,Kolkata,275000,535,4.5,115.000000,Coffee
90,91,jul,Mumbai,285000,545,4.6,120.000000,Coffee
91,92,jul,Delhi,305000,575,4.9,135.000000,Masala Chai
92,93,jul,Bengaluru,265000,525,4.3,105.000000,Snacks
93,94,None,Chennai,255000,515,4.4,115.000000,Coffee
94,95,jul,Kolkata,245000,505,4.1,100.000000,Sandwiches
95,96,aug,Mumbai,295000,555,4.7,125.000000,Coffee
96,97,aug,Delhi,275000,535,4.5,120.000000,Masala Chai
97,98,aug,Bengaluru,235000,495,4.0,95.000000,Snacks
98,99,None,Chennai,285000,545,4.6,130.000000,Coffee
99,100,aug,Kolkata,265000,525,4.3,105.000000,Masala Chai
100,101,None,Mumbai,275000,535,4.4,115.000000,Coffee
101,102,None,Delhi,315000,585,4.8,145.000000,Coffee
102,103,None,Bengaluru,245000,505,4.1,100.000000,Snacks
103,104,None,Chennai,265000,515,4.5,120.000000,Masala Chai
104,105,None,Kolkata,255000,515,4.2,105.000000,Sandwiches
105,106,oct,Mumbai,285000,545,4.6,125.000000,Coffee
106,107,oct,Delhi,295000,565,4.7,135.000000,Coffee
107,108,oct,Bengaluru,255000,515,4.3,105.000000,Masala Chai
108,109,None,Chennai,275000,535,4.4,115.000000,Snacks
109,110,oct,Kolkata,245000,505,4.1,100.000000,Sandwiches
110,111,nov,Mumbai,305000,575,4.8,140.000000,Coffee
111,112,nov,Delhi,285000,555,4.6,130.000000,Masala Chai
112,113,nov,Bengaluru,265000,525,4.4,105.000000,Snacks
113,114,None,Chennai,295000,565,4.7,135.000000,Coffee
114,115,nov,Kolkata,275000,535,4.5,120.000000,Sandwiches
115,116,dec,Mumbai,315000,585,4.9,145.000000,Coffee
116,117,dec,Delhi,305000,575,4.8,140.000000,Masala Chai
117,118,dec,Bengaluru,285000,555,4.6,125.000000,Snacks
118,119,None,Chennai,325000,595,5.0,150.000000,Coffee
119,120,dec,Kolkata,295000,565,4.7,135.000000,Sandwiches

In [259]:
print(data_set[["Total Sales","Items Sold", "Online Orders" ,"Customer Satisfaction"]].describe())

         Total Sales  Items Sold  Online Orders  Customer Satisfaction
count     120.000000  120.000000     120.000000             120.000000
mean   260583.333333  517.916667     114.913793               4.379167
std     44895.692993   75.435941      16.256644               0.308397
min         0.000000    0.000000      80.000000               3.500000
25%    243750.000000  500.000000     100.000000               4.200000
50%    265000.000000  520.000000     115.000000               4.400000
75%    285000.000000  551.250000     125.000000               4.600000
max    325000.000000  595.000000     150.000000               5.000000