# Practical Data Analysis Assignment

This assignment helps you practice Pandas basics using the `coffee_shop_sales.csv` dataset, focusing on creating Series and DataFrames, indexing, reading CSV files, and basic data inspection as shown in the provided code.

## Instructions
- Use the `coffee_shop_sales.csv` dataset for all tasks.
- Only use Pandas techniques shown in the provided code (e.g., Series, DataFrames, `loc`, `head`, `tail `

System: It looks like the artifact generation was cut off. I'll provide the complete markdown file for the data analysis assignment as requested, formatted as a downloadable markdown file, using only the Pandas techniques from the provided code.

<xaiArtifact artifact_id="b4af0e89-f01a-41b4-9da4-a09659d6b480" artifact_version_id="f50e7421-4a29-4c9c-9705-ad60fc64da81" title="Data_Analysis_Assignment.md" contentType="text/markdown">

# Practical Data Analysis Assignment

This assignment is designed to reinforce Pandas concepts using the `coffee_shop_sales.csv` dataset, focusing on creating Series and DataFrames, indexing, reading CSV files, and basic data inspection as demonstrated in the provided code.

## Instructions
- Use the `coffee_shop_sales.csv` dataset for all tasks.
- Only use Pandas techniques shown in the provided code (e.g., Series, DataFrames, `loc`, `head`, `tail`, `info`, and setting display options).
- Submit your code and answers as a Python script or Jupyter notebook.
- Include clear comments explaining each step.
- Ensure all outputs are displayed (e.g., print DataFrames, Series, or specific values).

## Assignment Tasks

### 1. Data Loading and Inspection
- Load the `coffee_shop_sales.csv` dataset into a Pandas DataFrame named `coffee_df`.
- Display the first 5 rows and the last 5 rows of the dataset using appropriate methods.
- Print the structure of the dataset (e.g., column names, non-null counts, and data types).
- Set Pandas to display all rows of the DataFrame when printed.

### 2. Creating a Series
- Create a Pandas Series named `sales_series` from the `Total Sales` column of the `coffee_df` DataFrame.
- Assign custom indices to `sales_series` using the `Transaction ID` column.
- Print the entire `sales_series` and then print the `Total Sales` value for `Transaction ID` 10.

### 3. Creating a DataFrame with Custom Index
- Create a new DataFrame named `coffee_subset` containing only the `Store Location`, `Total Sales`, and `Customer Satisfaction` columns from `coffee_df`.
- Set the `Transaction Month` column as the index for `coffee_subset`.
- Display the entire `coffee_subset` DataFrame.
- Use indexing to print the row corresponding to the `Transaction Month` "Jan".

### 4. Accessing Specific Rows
- Using the `coffee_df` DataFrame, print the row with index 0 (first row) using numerical indexing.
- Using the `coffee_subset` DataFrame from Task 3, print the `Customer Satisfaction` value for the row indexed by "Apr".

### 5. Handling Missing Data
- Identify which columns in `coffee_df` have missing values by inspecting the DataFrame's structure.
- Print all rows where `Customer Satisfaction` is missing (manually inspect the output from `coffee_df` to identify these rows).

### 6. Creating a New DataFrame
- Create a dictionary called `summary_dict` with two keys: `Store Location` (containing unique store locations from `coffee_df`) and `Average Sales` (containing the average `Total Sales` for each store location, calculated manually or using basic arithmetic).
- Convert `summary_dict` into a DataFrame named `summary_df` with `Store Location` as the index.
- Display the `summary_df` DataFrame.

## Notes
- For Task 6, calculate averages manually (e.g., sum `Total Sales` for each store and divide by the number of transactions) since advanced methods like `groupby` were not shown.
- Treat negative values in `Total Sales` or `Items Sold` as valid data unless instructed otherwise.
- Ensure your code is executable and produces the expected output based on the `coffee_shop_sales.csv` dataset.

## Submission
- Submit a Python script or Jupyter notebook with the code for all tasks.
- Include comments explaining each step.
- Ensure outputs for each task are clearly displayed.

## Example Submission Structure
```python
import pandas as pd

# Task 1: Data Loading and Inspection
# Load the dataset
coffee_df = pd.read_csv("./coffee_shop_sales.csv")
# Display first 5 rows
print(coffee_df.head())
# Display last 5 rows
print(coffee_df.tail())
# Display structure
print(coffee_df.info())
# Set display option for all rows
pd.options.display.max_rows = 9999
print(coffee_df)

# Task 2: Creating a Series
# ... (continue for all tasks)
```

## Grading Criteria
- **Correctness (60%)**: Code produces the correct output using only the techniques shown.
- **Clarity (20%)**: Code is well-commented and easy to follow.
- **Completeness (20%)**: All tasks are attempted, and outputs are displayed as requested.

Good luck with your Pandas practice!

In [4]:
import pandas as pd

coffee_df = pd.read_csv("./coffee_shop_sales.csv")

In [6]:
pd.options.display.max_rows= 9999

In [8]:
print(coffee_df)

     Transaction ID Transaction Month Store Location  Total Sales  Items Sold  \
0                 1               jan         Mumbai       250000         500
1                 2               JAN          Delhi       280000         550
2                 3              Jan       Bengaluru       220000         480
3                 4               jan        Chennai       260000         510
4                 5               Jan        Kolkata       230000         490
5                 6               feb         Mumbai       230000         490
6                 7               FEB          Delhi       270000         520
7                 8              Feb       Bengaluru       200000         460
8                 9               feb        Chennai       240000         500
9                10               Feb        Kolkata            0           0
10               11            march          Mumbai       260000         510
11               12               MAR          Delhi       290000         560
12               13               Mar      Bengaluru       210000         470
13               14             march        Chennai       270000         530
14               15               Mar        Kolkata       240000         500
15               16               apr         Mumbai       240000         500
16               17               APR          Delhi       300000         570
17               18              Apr       Bengaluru       230000         490
18               19               apr        Chennai       250000         510
19               20               Apr        Kolkata       220000         480
20               21               may         Mumbai       270000         530
21               22               MAY          Delhi       310000         580
22               23               May      Bengaluru       240000         500
23               24               may        Chennai       260000         520
24               25               May        Kolkata       230000         490
25               26               jun         Mumbai       200000         450
26               27               JUN          Delhi       320000         590
27               28              Jun       Bengaluru       250000         510
28               29               jun        Chennai       240000         500
29               30               Jun        Kolkata       270000         530
30               31               jul         Mumbai       280000         540
31               32               JUL          Delhi       300000         570
32               33              Jul       Bengaluru       260000         520
33               34               jul        Chennai       250000         510
34               35               Jul        Kolkata        -1000         -10
35               36               aug         Mumbai       290000         550
36               37               AUG          Delhi       270000         530
37               38              Aug       Bengaluru       230000         490
38               39               aug        Chennai       280000         540
39               40               Aug        Kolkata       260000         520
40               41               sep         Mumbai       270000         530
41               42               SEP          Delhi       310000         580
42               43               Sep      Bengaluru       240000         500
43               44               sep        Chennai       260000         510
44               45               Sep        Kolkata       250000         510
45               46               oct         Mumbai       280000         540
46               47               OCT          Delhi       290000         560
47               48              Oct       Bengaluru       250000         510
48               49               oct        Chennai       270000         530
49               50               Oct        Kolkata       240000         500
50               51               nov         Mumbai       300000         570
51               52               NOV          Delhi       280000         550
52               53              Nov       Bengaluru       260000         520
53               54               nov        Chennai       290000         560
54               55               Nov        Kolkata       270000         530
55               56               dec         Mumbai       310000         580
56               57               DEC          Delhi       300000         570
57               58              Dec       Bengaluru       280000         550
58               59               dec        Chennai       320000         590
59               60               Dec        Kolkata       290000         560
60               61               Jan         Mumbai       255000         505
61               62               jan          Delhi       285000         555
62               63               JAN      Bengaluru       225000         485
63               64              Jan         Chennai       265000         515
64               65               jan        Kolkata       235000         495
65               66               Feb         Mumbai       235000         495
66               67               feb          Delhi       275000         525
67               68               FEB      Bengaluru       205000         465
68               69              Feb         Chennai       245000         505
69               70               feb        Kolkata       215000         475
70               71               Mar         Mumbai       265000         515
71               72             march          Delhi       295000         565
72               73               MAR      Bengaluru       215000         475
73               74              Mar         Chennai       275000         535
74               75               mar        Kolkata       245000         505
75               76               Apr         Mumbai       245000         505
76               77               apr          Delhi       305000         575
77               78               APR      Bengaluru       235000         495
78               79              Apr         Chennai       255000         515
79               80               apr        Kolkata       225000         485
80               81               May         Mumbai       275000         535
81               82               may          Delhi       315000         585
82               83               MAY      Bengaluru       245000         505
83               84              May         Chennai       265000         525
84               85               may        Kolkata       235000         495
85               86               Jun         Mumbai       205000         455
86               87               jun          Delhi       325000         595
87               88               JUN      Bengaluru       255000         515
88               89              Jun         Chennai       245000         505
89               90               jun        Kolkata       275000         535
90               91               Jul         Mumbai       285000         545
91               92               jul          Delhi       305000         575
92               93               JUL      Bengaluru       265000         525
93               94              Jul         Chennai       255000         515
94               95               jul        Kolkata       245000         505
95               96               Aug         Mumbai       295000         555
96               97               aug          Delhi       275000         535
97               98               AUG      Bengaluru       235000         495
98               99              Aug         Chennai       285000         545
99              100               aug        Kolkata       265000         525
100             101               Sep         Mumbai       275000         535
101             102               sep          Delhi       315000         585
102             103               SEP      Bengaluru       245000         505
103             104              Sep         Chennai       265000         515
104             105               sep        Kolkata       255000         515
105             106               Oct         Mumbai       285000         545
106             107               oct          Delhi       295000         565
107             108               OCT      Bengaluru       255000         515
108             109              Oct         Chennai       275000         535
109             110               oct        Kolkata       245000         505
110             111               Nov         Mumbai       305000         575
111             112               nov          Delhi       285000         555
112             113               NOV      Bengaluru       265000         525
113             114              Nov         Chennai       295000         565
114             115               nov        Kolkata       275000         535
115             116               Dec         Mumbai       315000         585
116             117               dec          Delhi       305000         575
117             118               DEC      Bengaluru       285000         555
118             119              Dec         Chennai       325000         595
119             120               dec        Kolkata       295000         565

     Customer Satisfaction  Online Orders Product Category
0                      4.2          100.0           Coffee
1                      4.5          120.0      Masala Chai
2                      3.8           90.0           Snacks
3                      NaN          110.0           Coffee
4                      4.0            NaN       Sandwiches
5                      4.0          110.0           Coffee
6                      4.3          130.0      Masala Chai
7                      3.5           80.0           Snacks
8                      4.1          105.0           Coffee
9                      3.9           90.0      Masala Chai
10                     4.6          115.0           Coffee
11                     4.8          125.0           Coffee
12                     NaN           95.0      Masala Chai
13                     4.4          120.0           Snacks
14                     4.2          100.0       Sandwiches
15                     4.1          105.0           Coffee
16                     4.7          135.0           Coffee
17                     4.2            NaN      Masala Chai
18                     4.3          110.0           Snacks
19                     3.8           90.0       Sandwiches
20                     4.4          110.0           Coffee
21                     4.9          140.0           Coffee
22                     NaN           90.0           Snacks
23                     4.5          115.0      Masala Chai
24                     4.1          100.0           Coffee
25                     3.7           85.0      Masala Chai
26                     4.6          145.0           Coffee
27                     4.3          100.0           Snacks
28                     4.0          105.0       Sandwiches
29                     4.4            NaN           Coffee
30                     4.5          115.0           Coffee
31                     4.8          130.0      Masala Chai
32                     4.2          100.0           Snacks
33                     4.3          110.0           Coffee
34                     4.0           95.0       Sandwiches
35                     4.6          120.0           Coffee
36                     4.4          115.0      Masala Chai
37                     3.9           90.0           Snacks
38                     4.5          125.0           Coffee
39                     4.2          100.0      Masala Chai
40                     4.3          110.0           Coffee
41                     4.7          140.0           Coffee
42                     4.0           95.0           Snacks
43                     NaN          115.0      Masala Chai
44                     4.1          100.0       Sandwiches
45                     4.5          120.0           Coffee
46                     4.6          130.0           Coffee
47                     4.2          100.0      Masala Chai
48                     4.3          110.0           Snacks
49                     4.0           95.0       Sandwiches
50                     4.7          135.0           Coffee
51                     4.5          125.0      Masala Chai
52                     4.3          100.0           Snacks
53                     4.6          130.0           Coffee
54                     4.4          115.0       Sandwiches
55                     4.8          140.0           Coffee
56                     4.7          135.0      Masala Chai
57                     4.5          120.0           Snacks
58                     4.9          145.0           Coffee
59                     4.6          130.0       Sandwiches
60                     4.3          105.0           Coffee
61                     4.6          125.0      Masala Chai
62                     NaN           95.0           Snacks
63                     4.4          115.0           Coffee
64                     4.1          100.0       Sandwiches
65                     4.1          115.0           Coffee
66                     4.4          135.0      Masala Chai
67                     3.6           85.0           Snacks
68                     4.2          110.0           Coffee
69                     4.0            NaN      Masala Chai
70                     4.7          120.0           Coffee
71                     4.9          130.0           Coffee
72                     4.0          100.0      Masala Chai
73                     4.5          125.0           Snacks
74                     4.3          105.0       Sandwiches
75                     4.2          110.0           Coffee
76                     4.8          140.0           Coffee
77                     4.3          105.0      Masala Chai
78                     4.4          115.0           Snacks
79                     3.9           95.0       Sandwiches
80                     4.5          115.0           Coffee
81                     5.0          145.0           Coffee
82                     4.1           95.0           Snacks
83                     4.6          120.0      Masala Chai
84                     4.2          105.0           Coffee
85                     3.8           90.0      Masala Chai
86                     4.7          150.0           Coffee
87                     4.4          105.0           Snacks
88                     4.1          110.0       Sandwiches
89                     4.5          115.0           Coffee
90                     4.6          120.0           Coffee
91                     4.9          135.0      Masala Chai
92                     4.3          105.0           Snacks
93                     4.4          115.0           Coffee
94                     4.1          100.0       Sandwiches
95                     4.7          125.0           Coffee
96                     4.5          120.0      Masala Chai
97                     4.0           95.0           Snacks
98                     4.6          130.0           Coffee
99                     4.3          105.0      Masala Chai
100                    4.4          115.0           Coffee
101                    4.8          145.0           Coffee
102                    4.1          100.0           Snacks
103                    4.5          120.0      Masala Chai
104                    4.2          105.0       Sandwiches
105                    4.6          125.0           Coffee
106                    4.7          135.0           Coffee
107                    4.3          105.0      Masala Chai
108                    4.4          115.0           Snacks
109                    4.1          100.0       Sandwiches
110                    4.8          140.0           Coffee
111                    4.6          130.0      Masala Chai
112                    4.4          105.0           Snacks
113                    4.7          135.0           Coffee
114                    4.5          120.0       Sandwiches
115                    4.9          145.0           Coffee
116                    4.8          140.0      Masala Chai
117                    4.6          125.0           Snacks
118                    5.0          150.0           Coffee
119                    4.7          135.0       Sandwiches