In [1]:
pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.11/site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd

In [7]:
pd.__version__

'2.1.4'

# Pandas series
- it's like a column in a table
- one dimensional array

In [13]:
a = [23,45,23]
res = pd.Series(a)
print(res)

0    23
1    45
2    23
dtype: int64

In [15]:
a = [23,45,23]
res = pd.Series(a , index=["aryan" , "rohan","manish"])
print(res)

aryan     23
rohan     45
manish    23
dtype: int64

In [19]:
print(res["aryan"])

23

In [26]:
marks = {
    "john" : 13,
    "kunal" :34,
    "sumit" : 45
}

In [28]:
data = pd.Series(marks)
print(data)

john     13
kunal    34
sumit    45
dtype: int64

# DataFrames
- Data Sets in pandas usually multi-dimensional tables, called DataFrames
- DataFrame is a the whole table ,where Series is like a column

In [34]:
data = {
    "names" : ["rohan","john","kenny"],
    "marks" : [34,56,67]
}

In [36]:
df = pd.DataFrame(data)

print(df)

   names  marks
0  rohan     34
1   john     56
2  kenny     67

In [38]:
print(df.loc[0])

names    rohan
marks       34
Name: 0, dtype: object

In [44]:
print(df.loc[[0 , 1]])

   names  marks
0  rohan     34
1   john     56

In [47]:
df = pd.DataFrame(data , index = ["stu1","stu2" , "stu3"])

print(df)

      names  marks
stu1  rohan     34
stu2   john     56
stu3  kenny     67

In [51]:
print(df.loc[["stu1" , "stu2"]])

      names  marks
stu1  rohan     34
stu2   john     56

# loading files in to Data Frame

In [55]:
df = pd.read_csv("./sales.csv")
print(df)

              Product  January  February  March
0    Parle-G Biscuits    12000     13500  12800
1           Amul Milk    18000     17500  19000
2           Tata Salt     9500     10000   9700
3      Maggie Noodles    15000     16000  15800
4  Colgate Toothpaste     8000      8200   8300
5     Aashirvaad Atta    11000     11200  11500
6     Godrej Hair Dye     5000      4800   4900
7         Dettol Soap     7000      7500   7400
8   Lifebuoy Handwash     6000      6200   6100
9           Bournvita     4500      4700   4900

In [65]:
print(df.loc[3:5])

              Product  January  February  March
3      Maggie Noodles    15000     16000  15800
4  Colgate Toothpaste     8000      8200   8300
5     Aashirvaad Atta    11000     11200  11500

In [67]:
print(df.loc[[3,5]])

           Product  January  February  March
3   Maggie Noodles    15000     16000  15800
5  Aashirvaad Atta    11000     11200  11500

In [73]:
df = pd.read_csv("./student_data.csv")

In [75]:
print(df)

                  Name   Age  Gender                     Email  Score  \
0         Allison Hill   NaN    male                       NaN    NaN
1        Gregory Baker  27.0       M                       NaN    NaN
2       Carolyn Daniel   NaN       M                       NaN    NaN
3       Zachary Taylor  28.0  Female  camposmichelle@gmail.com    NaN
4    Patricia Peterson  20.0  Female        amoore@hotmail.com  26.17
..                 ...   ...     ...                       ...    ...
100    Joseph Jennings  29.0  Female                       NaN  39.42
101     Andrew Mahoney   NaN       M                       NaN    NaN
102        Heidi Stark   NaN  female                       NaN  79.82
103     Anthony Romero   NaN       F          dhayes@yahoo.com    NaN
104      Richard Jones  26.0  Female  rebeccabailey@mullen.com    NaN

    EnrollmentDate Passed    Country               Phone  \
0              NaN    Yes        NaN  908.386.3794x02654
1              NaN    NaN     Canada    001-310-341-3164
2              NaN    NaN        NaN                 NaN
3              NaN    NaN    unknown                 NaN
4              NaN    NaN  Australia                 NaN
..             ...    ...        ...                 ...
100            NaN    NaN        NaN                 NaN
101            NaN    NaN     Canada   505-415-6676x5277
102            NaN    NaN  Australia  713.971.8707x28679
103            NaN    NaN        NaN                 NaN
104            NaN    Yes  Australia    329-212-7799x799

                          Comments
0                              NaN
1                              NaN
2                              NaN
3                 Quite boy those.
4                              NaN
..                             ...
100                            NaN
101  Under mind song risk bad own.
102       Next pull final against.
103                            NaN
104                            NaN

[105 rows x 10 columns]

In [77]:
print(df.to_string())

                  Name   Age  Gender                             Email  Score EnrollmentDate Passed    Country                   Phone                                                Comments
0         Allison Hill   NaN    male                               NaN    NaN            NaN    Yes        NaN      908.386.3794x02654                                                     NaN
1        Gregory Baker  27.0       M                               NaN    NaN            NaN    NaN     Canada        001-310-341-3164                                                     NaN
2       Carolyn Daniel   NaN       M                               NaN    NaN            NaN    NaN        NaN                     NaN                                                     NaN
3       Zachary Taylor  28.0  Female          camposmichelle@gmail.com    NaN            NaN    NaN    unknown                     NaN                                        Quite boy those.
4    Patricia Peterson  20.0  Female                amoore@hotmail.com  26.17            NaN    NaN  Australia                     NaN                                                     NaN
5      Angelica Tucker   NaN    Male                               NaN   7.22            NaN    NaN        USA                     NaN                                                     NaN
6          Gary Palmer   NaN    Male                ilewis@hotmail.com    NaN     2024-11-09    NaN    unknown        001-737-631-1656                        Level rock pull worker better I.
7         Scott Wright  25.0       F                               NaN    NaN            NaN    NaN     Canada                     NaN                                                     NaN
8      Rachel Mitchell   NaN  female                               NaN  75.28     2024-12-04    NaN         UK   001-805-009-7882x0812                                                     NaN
9     Danielle Wheeler   NaN  female             ksandoval@stewart.com    NaN            NaN    NaN  Australia                     NaN                                                     NaN
10     Jeffrey Daniels   NaN       M       contrerasangela@hotmail.com    NaN            NaN    NaN         UK                     NaN                Reach table measure economy traditional.
11       Mark Calderon  18.0  Female        cookdavid@martin-ramos.biz  25.05            NaN     No     Canada              1128059826                                                     NaN
12      Hunter Fleming   NaN    male              kimberly69@moore.com    NaN            NaN    NaN      India                     NaN                                                     NaN
13        Matthew Ross  23.0  Female                               NaN    NaN            NaN    NaN        NaN                     NaN                                                     NaN
14        Timothy Ryan   NaN       M      ryan59@alvarado-martinez.com    NaN            NaN     No    unknown                     NaN                                                     NaN
15          Kayla Leon   NaN    male                               NaN    NaN            NaN     No      India                     NaN         Responsibility himself hundred challenge reach.
16     Shannon Mcclure  19.0    male                               NaN    NaN            NaN    NaN        NaN                     NaN               Partner rest measure store natural today.
17         Karen Green  25.0       M                               NaN  92.43            NaN    Yes    unknown      581-223-6231x66587                                                     NaN
18         Laura Woods   NaN    Male                               NaN  19.04            NaN    Yes        NaN                     NaN                                                     NaN
19      Garrett Gibson   NaN  Female                aramirez@yahoo.com  44.77            NaN    Yes      India       080.531.0033x0923                                                     NaN
20        Jacob Obrien   NaN       F                               NaN  85.62            NaN     No        NaN                     NaN  Attention positive actually information majority item.
21      Steven Stevens   NaN    male                               NaN    NaN            NaN    NaN     Canada     (945)314-7379x96507                                                     NaN
22        Adam Vaughan   NaN    male                               NaN   0.82            NaN     No        NaN                     NaN                                                     NaN
23        Emily Newton  28.0       F                               NaN    NaN     2021-08-26    Yes  Australia                     NaN                                                     NaN
24     Anthony Everett  18.0  Female                               NaN    NaN            NaN    NaN         UK                     NaN                                                     NaN
25      Annette Farmer   NaN    male                donna23@arnold.com  74.65            NaN    NaN         UK                     NaN                                                     NaN
26      Linda Holloway   NaN       M                               NaN    NaN            NaN    NaN         UK                     NaN                                                     NaN
27      Debra Williams   NaN    Male        cstone@white-richards.info  66.88            NaN    NaN      India                     NaN                                                     NaN
28   Virginia Sandoval   NaN       M                  hbrown@yahoo.com  71.11            NaN    NaN    unknown  001-770-348-2477x10932                                                     NaN
29       Bruce Collier   NaN       M                               NaN    NaN            NaN    Yes    unknown                     NaN                                                     NaN
30         Mary Grimes   NaN       M                               NaN  47.62            NaN     No         UK                     NaN         Who call whole forward beyond suddenly between.
31       Alexis Thomas  21.0       F  harrisontanya@hanson-sanders.com  66.83            NaN    NaN      India                     NaN                                                     NaN
32       David Jenkins   NaN  female     gregorylynch@harvey-allen.org  15.84            NaN    NaN      India            747.407.4821                                                     NaN
33   Zachary Castaneda   NaN       M  patrickhoward@haney-phillips.biz    NaN     2022-05-02    NaN        NaN              9097439533                                                     NaN
34         Amanda Diaz  29.0  female                               NaN    NaN     2023-02-10    NaN         UK      842.474.5171x23685                                                     NaN
35      Megan Richards  22.0       F         leonardthomas@hotmail.com    NaN            NaN     No        USA      931-746-1200x47113            Career law provide sea watch industry score.
36        Jason Garcia   NaN       F                               NaN  80.75            NaN    Yes      India            773.515.8506                                                     NaN
37         Linda Smith   NaN  Female                               NaN    NaN            NaN    NaN     Canada                     NaN                                                     NaN
38   Franklin Thompson   NaN    male                               NaN    NaN            NaN    NaN        NaN                     NaN                                                     NaN
39      Michelle James   NaN  female                               NaN    NaN            NaN    NaN      India    +1-836-736-5766x1565                                                     NaN
40       Brent Rodgers   NaN    male                               NaN    NaN     2020-06-08     No     Canada                     NaN                          Several off southern suddenly.
41      Sabrina Austin   NaN    Male          anthony44@bell-white.com  35.44            NaN    NaN        USA                     NaN          Other third choose senior anyone bank kitchen.
42      Lawrence Perry  20.0  Female                               NaN    NaN            NaN    Yes    unknown      (900)343-2445x1076                                                     NaN
43     Heather Sanders   NaN  female         esmith@johnston-berry.biz  50.73            NaN    NaN      India                     NaN                                                     NaN
44       Richard Jones  26.0  Female          rebeccabailey@mullen.com    NaN            NaN    Yes  Australia        329-212-7799x799                                                     NaN
45      Anthony Romero   NaN       F                  dhayes@yahoo.com    NaN            NaN    NaN        NaN                     NaN                                                     NaN
46       Miguel Wagner  20.0  Female                               NaN    NaN            NaN    Yes  Australia                     NaN                                                     NaN
47       Melissa Myers   NaN       F                               NaN  78.21            NaN    NaN     Canada                     NaN                                                     NaN
48      Kelsey Stanley   NaN    male                               NaN    NaN            NaN    NaN        USA                     NaN                                                     NaN
49        Amy Castillo   NaN  female                               NaN    NaN            NaN     No        NaN                     NaN                                                     NaN
50         Brad Walker   NaN  Female                               NaN  60.24     2021-03-03     No  Australia                     NaN                                                     NaN
51       Eric Williams   NaN       F                               NaN    NaN            NaN    NaN    unknown                     NaN   Indicate professor beat window attack moment medical.
52   Kristen Myers DDS  23.0  Female                               NaN  89.47     2022-12-07     No      India                     NaN                                                     NaN
53      Andrew Mahoney   NaN       M                               NaN    NaN            NaN    NaN     Canada       505-415-6676x5277                           Under mind song risk bad own.
54     Kimberly Morris   NaN    male                               NaN    NaN            NaN    NaN  Australia                     NaN                                                     NaN
55      Travis Johnson   NaN       M                               NaN  36.10            NaN    Yes        NaN      (543)102-7868x1447                                                     NaN
56          Jodi Roach   NaN       F                               NaN    NaN            NaN    NaN        NaN                     NaN                              So ago network hard sound.
57         Lisa Miller   NaN  Female                    ukey@yahoo.com    NaN            NaN    NaN         UK                     NaN                      Me than story million fight class.
58       Courtney Meza  23.0  female                               NaN  33.78            NaN     No         UK                     NaN                                                     NaN
59        Marilyn Wang   NaN  Female                               NaN  80.41     2022-07-27    NaN        NaN                     NaN                                                     NaN
60         Bianca Wood   NaN  female                               NaN    NaN            NaN    Yes    unknown     +1-632-595-3278x774                                                     NaN
61     Stephen Pena MD   NaN    Male             jordannicole@diaz.com  38.97            NaN    Yes        USA                     NaN                                                     NaN
62       Jordan Porter  24.0    Male                               NaN  39.27            NaN    Yes        USA      952-694-9588x87947                                                     NaN
63     Rebecca Swanson   NaN  female                               NaN    NaN     2024-06-16     No         UK    +1-962-309-1307x5626                                                     NaN
64       Charles Clark  27.0    Male                               NaN  80.75     2023-11-29    Yes         UK                     NaN                                                     NaN
65        Emily Bailey   NaN    male                               NaN    NaN     2022-12-08    NaN      India                     NaN                                                     NaN
66       Courtney Hall   NaN    male                               NaN  63.24            NaN    NaN  Australia           (677)345-4019                                                     NaN
67     Casey Gillespie  30.0  female                  vlopez@yahoo.com  88.47            NaN    Yes        USA                     NaN                                                     NaN
68         Jimmy Scott   NaN    male                               NaN    NaN     2023-08-21    NaN  Australia      516.122.7530x46374                                                     NaN
69       Eric Sullivan  19.0       F            fowlershelia@yahoo.com  98.44            NaN    NaN  Australia                     NaN                Soon stay seven quite other skin moment.
70         Heidi Stark   NaN  female                               NaN  79.82            NaN    NaN  Australia      713.971.8707x28679                                Next pull final against.
71      Aaron Robinson   NaN    Male                               NaN    NaN            NaN    Yes        NaN                     NaN                                                     NaN
72         Nicole Good   NaN  Female                  opatel@gmail.com    NaN     2023-12-02    Yes  Australia                     NaN                                                     NaN
73     Andrew Gonzales   NaN  Female        taylorvictoria@cabrera.org    NaN            NaN    Yes     Canada                     NaN                                                     NaN
74     Kristi Williams  25.0       F                               NaN    NaN            NaN     No    unknown                     NaN                                                     NaN
75     Sandra Williams   NaN  female                               NaN    NaN            NaN    NaN  Australia                     NaN                                                     NaN
76       Stephen Owens  25.0       M                               NaN    NaN            NaN    Yes    unknown                     NaN                                                     NaN
77      Dawn Underwood  24.0       M                               NaN  26.01            NaN    NaN        USA                     NaN                                                     NaN
78           Mark Peck  22.0  female                               NaN    NaN            NaN     No        USA                     NaN                          Modern drive people education.
79       Robert Miller   NaN  Female                               NaN    NaN     2022-07-20    NaN         UK   +1-101-666-8700x21765                                                     NaN
80        Denise Glass   NaN  female            whitemelissa@gmail.com    NaN            NaN    Yes     Canada                     NaN                                                     NaN
81          Brent Hall   NaN  female                               NaN  84.66            NaN    NaN        NaN                     NaN                                                     NaN
82        Aaron Parker  23.0  female                               NaN    NaN            NaN    Yes     Canada         +1-886-101-5819                                                     NaN
83     Joseph Jennings  29.0  Female                               NaN  39.42            NaN    NaN        NaN                     NaN                                                     NaN
84      Valerie Taylor   NaN       M         timothythompson@yahoo.com    NaN            NaN     No     Canada                     NaN                                                     NaN
85    Rebecca Chambers   NaN       F                               NaN    NaN            NaN    Yes        NaN                     NaN                                                     NaN
86          Erin Hogan  25.0  female          garciajeffrey@stone.info   8.62            NaN    NaN     Canada      (798)250-7146x1125                                                     NaN
87          Jodi Jones   NaN  Female           johnsonmatthew@byrd.com    NaN            NaN     No      India                     NaN                                                     NaN
88      Donald Padilla   NaN  Female      lloydamanda@nguyen-ellis.com    NaN            NaN    Yes        USA      596.969.1557x92499                                                     NaN
89       Charles Price   NaN  Female                               NaN    NaN     2024-09-20     No        NaN                     NaN                                                     NaN
90    Katherine Miller  30.0       M                               NaN  42.57            NaN    NaN     Canada                     NaN                                                     NaN
91         Xavier Rowe  18.0  Female                               NaN    NaN            NaN    NaN     Canada                     NaN                                                     NaN
92        Paul Jenkins   NaN       F                               NaN  91.28     2023-05-05    NaN        NaN                     NaN                    Old than suggest behavior will play.
93         Sarah Flynn  21.0       F            tammysummers@yahoo.com    NaN            NaN    NaN        USA                     NaN                                                     NaN
94    Shannon Mcdowell   NaN    Male                john52@sanders.com    NaN            NaN     No         UK                     NaN                                                     NaN
95     Nicholas Garcia   NaN    male                               NaN    NaN     2021-03-19    NaN        NaN                     NaN                                                     NaN
96        Charles Hill   NaN       M                               NaN    NaN            NaN    NaN     Canada                     NaN                                                     NaN
97          Laura Diaz  29.0  female                               NaN    NaN     2022-03-25    NaN        NaN                     NaN                    Mrs check base bad TV window choice.
98         Kevin Hines   NaN    Male                               NaN  93.93            NaN     No        NaN                     NaN                                                     NaN
99        Alyssa Roman  27.0  female          bakertheresa@hotmail.com    NaN            NaN     No        USA                     NaN         Able teach activity animal hair turn condition.
100    Joseph Jennings  29.0  Female                               NaN  39.42            NaN    NaN        NaN                     NaN                                                     NaN
101     Andrew Mahoney   NaN       M                               NaN    NaN            NaN    NaN     Canada       505-415-6676x5277                           Under mind song risk bad own.
102        Heidi Stark   NaN  female                               NaN  79.82            NaN    NaN  Australia      713.971.8707x28679                                Next pull final against.

# Change pandas setting of displaying max rowa


- print(pd.options.display.max_rows)

# Read Json

In [87]:
df = pd.read_json("./sample.json")

In [91]:
print(df.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.5
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.5
37         60    100       120     300.1
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.1
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [100]:
my_sample_data = {
"Duration": {
"0": 60,
"1": 60,
"2": 60,
"3": 45,
"4": 45,
"5": 60,
"6": 60,
"7": 45,
"8": 30,
"9": 60,
"10": 60,
"11": 60,
"12": 60,
"13": 60,
"14": 60,
"15": 60,
"16": 60,
"17": 45,
"18": 60,
"19": 45,
"20": 60,
"21": 45,
"22": 60,
"23": 45,
"24": 60,
"25": 60,
"26": 60,
"27": 60,
"28": 60,
"29": 60,
"30": 60,
"31": 45,
"32": 60,
"33": 60,
"34": 60,
"35": 60,
"36": 60,
"37": 60,
"38": 60,
"39": 45,
"40": 45,
"41": 60,
"42": 60,
"43": 60,
"44": 60,
"45": 60,
"46": 60,
"47": 45,
"48": 45,
"49": 60,
"50": 60,
"51": 80,
"52": 60,
"53": 60,
"54": 30,
"55": 60,
"56": 60,
"57": 45,
"58": 20,
"59": 45,
"60": 210,
"61": 160,
"62": 160,
"63": 45,
"64": 20,
"65": 180,
"66": 150,
"67": 150,
"68": 20,
"69": 300,
"70": 150,
"71": 60,
"72": 90,
"73": 150,
"74": 45,
"75": 90,
"76": 45,
"77": 45,
"78": 120,
"79": 270,
"80": 30,
"81": 45,
"82": 30,
"83": 120,
"84": 45,
"85": 30,
"86": 45,
"87": 120,
"88": 45,
"89": 20,
"90": 180,
"91": 45,
"92": 30,
"93": 15,
"94": 20,
"95": 20,
"96": 30,
"97": 25,
"98": 30,
"99": 90,
"100": 20,
"101": 90,
"102": 90,
"103": 90,
"104": 30,
"105": 30,
"106": 180,
"107": 30,
"108": 90,
"109": 210,
"110": 60,
"111": 45,
"112": 15,
"113": 45,
"114": 60,
"115": 60,
"116": 60,
"117": 60,
"118": 60,
"119": 60,
"120": 30,
"121": 45,
"122": 60,
"123": 60,
"124": 60,
"125": 60,
"126": 60,
"127": 60,
"128": 90,
"129": 60,
"130": 60,
"131": 60,
"132": 60,
"133": 60,
"134": 60,
"135": 20,
"136": 45,
"137": 45,
"138": 45,
"139": 20,
"140": 60,
"141": 60,
"142": 45,
"143": 45,
"144": 60,
"145": 45,
"146": 60,
"147": 60,
"148": 30,
"149": 60,
"150": 60,
"151": 60,
"152": 60,
"153": 30,
"154": 60,
"155": 60,
"156": 60,
"157": 60,
"158": 60,
"159": 30,
"160": 30,
"161": 45,
"162": 45,
"163": 45,
"164": 60,
"165": 60,
"166": 60,
"167": 75,
"168": 75
},
"Pulse": {
"0": 110,
"1": 117,
"2": 103,
"3": 109,
"4": 117,
"5": 102,
"6": 110,
"7": 104,
"8": 109,
"9": 98,
"10": 103,
"11": 100,
"12": 106,
"13": 104,
"14": 98,
"15": 98,
"16": 100,
"17": 90,
"18": 103,
"19": 97,
"20": 108,
"21": 100,
"22": 130,
"23": 105,
"24": 102,
"25": 100,
"26": 92,
"27": 103,
"28": 100,
"29": 102,
"30": 92,
"31": 90,
"32": 101,
"33": 93,
"34": 107,
"35": 114,
"36": 102,
"37": 100,
"38": 100,
"39": 104,
"40": 90,
"41": 98,
"42": 100,
"43": 111,
"44": 111,
"45": 99,
"46": 109,
"47": 111,
"48": 108,
"49": 111,
"50": 107,
"51": 123,
"52": 106,
"53": 118,
"54": 136,
"55": 121,
"56": 118,
"57": 115,
"58": 153,
"59": 123,
"60": 108,
"61": 110,
"62": 109,
"63": 118,
"64": 110,
"65": 90,
"66": 105,
"67": 107,
"68": 106,
"69": 108,
"70": 97,
"71": 109,
"72": 100,
"73": 97,
"74": 114,
"75": 98,
"76": 105,
"77": 110,
"78": 100,
"79": 100,
"80": 159,
"81": 149,
"82": 103,
"83": 100,
"84": 100,
"85": 151,
"86": 102,
"87": 100,
"88": 129,
"89": 83,
"90": 101,
"91": 107,
"92": 90,
"93": 80,
"94": 150,
"95": 151,
"96": 95,
"97": 152,
"98": 109,
"99": 93,
"100": 95,
"101": 90,
"102": 90,
"103": 90,
"104": 92,
"105": 93,
"106": 90,
"107": 90,
"108": 90,
"109": 137,
"110": 102,
"111": 107,
"112": 124,
"113": 100,
"114": 108,
"115": 108,
"116": 116,
"117": 97,
"118": 105,
"119": 103,
"120": 112,
"121": 100,
"122": 119,
"123": 107,
"124": 111,
"125": 98,
"126": 97,
"127": 109,
"128": 99,
"129": 114,
"130": 104,
"131": 107,
"132": 103,
"133": 106,
"134": 103,
"135": 136,
"136": 117,
"137": 115,
"138": 113,
"139": 141,
"140": 108,
"141": 97,
"142": 100,
"143": 122,
"144": 136,
"145": 106,
"146": 107,
"147": 112,
"148": 103,
"149": 110,
"150": 106,
"151": 109,
"152": 109,
"153": 150,
"154": 105,
"155": 111,
"156": 97,
"157": 100,
"158": 114,
"159": 80,
"160": 85,
"161": 90,
"162": 95,
"163": 100,
"164": 105,
"165": 110,
"166": 115,
"167": 120,
"168": 125
},
"Maxpulse": {
"0": 130,
"1": 145,
"2": 135,
"3": 175,
"4": 148,
"5": 127,
"6": 136,
"7": 134,
"8": 133,
"9": 124,
"10": 147,
"11": 120,
"12": 128,
"13": 132,
"14": 123,
"15": 120,
"16": 120,
"17": 112,
"18": 123,
"19": 125,
"20": 131,
"21": 119,
"22": 101,
"23": 132,
"24": 126,
"25": 120,
"26": 118,
"27": 132,
"28": 132,
"29": 129,
"30": 115,
"31": 112,
"32": 124,
"33": 113,
"34": 136,
"35": 140,
"36": 127,
"37": 120,
"38": 120,
"39": 129,
"40": 112,
"41": 126,
"42": 122,
"43": 138,
"44": 131,
"45": 119,
"46": 153,
"47": 136,
"48": 129,
"49": 139,
"50": 136,
"51": 146,
"52": 130,
"53": 151,
"54": 175,
"55": 146,
"56": 121,
"57": 144,
"58": 172,
"59": 152,
"60": 160,
"61": 137,
"62": 135,
"63": 141,
"64": 130,
"65": 130,
"66": 135,
"67": 130,
"68": 136,
"69": 143,
"70": 129,
"71": 153,
"72": 127,
"73": 127,
"74": 146,
"75": 125,
"76": 134,
"77": 141,
"78": 130,
"79": 131,
"80": 182,
"81": 169,
"82": 139,
"83": 130,
"84": 120,
"85": 170,
"86": 136,
"87": 157,
"88": 103,
"89": 107,
"90": 127,
"91": 137,
"92": 107,
"93": 100,
"94": 171,
"95": 168,
"96": 128,
"97": 168,
"98": 131,
"99": 124,
"100": 112,
"101": 110,
"102": 100,
"103": 100,
"104": 108,
"105": 128,
"106": 120,
"107": 120,
"108": 120,
"109": 184,
"110": 124,
"111": 124,
"112": 139,
"113": 120,
"114": 131,
"115": 151,
"116": 141,
"117": 122,
"118": 125,
"119": 124,
"120": 137,
"121": 120,
"122": 169,
"123": 127,
"124": 151,
"125": 122,
"126": 124,
"127": 127,
"128": 125,
"129": 151,
"130": 134,
"131": 138,
"132": 133,
"133": 132,
"134": 136,
"135": 156,
"136": 143,
"137": 137,
"138": 138,
"139": 162,
"140": 135,
"141": 127,
"142": 120,
"143": 149,
"144": 170,
"145": 126,
"146": 136,
"147": 146,
"148": 127,
"149": 150,
"150": 134,
"151": 129,
"152": 138,
"153": 167,
"154": 128,
"155": 151,
"156": 131,
"157": 120,
"158": 150,
"159": 120,
"160": 120,
"161": 130,
"162": 130,
"163": 140,
"164": 140,
"165": 145,
"166": 145,
"167": 150,
"168": 150
},
"Calories": {
"0": 409.1,
"1": 479,
"2": 340,
"3": 282.4,
"4": 406,
"5": 300.5,
"6": 374,
"7": 253.3,
"8": 195.1,
"9": 269,
"10": 329.3,
"11": 250.7,
"12": 345.3,
"13": 379.3,
"14": 275,
"15": 215.2,
"16": 300,
"17": None,
"18": 323,
"19": 243,
"20": 364.2,
"21": 282,
"22": 300,
"23": 246,
"24": 334.5,
"25": 250,
"26": 241,
"27": None,
"28": 280,
"29": 380.3,
"30": 243,
"31": 180.1,
"32": 299,
"33": 223,
"34": 361,
"35": 415,
"36": 300.5,
"37": 300.1,
"38": 300,
"39": 266,
"40": 180.1,
"41": 286,
"42": 329.4,
"43": 400,
"44": 397,
"45": 273,
"46": 387.6,
"47": 300,
"48": 298,
"49": 397.6,
"50": 380.2,
"51": 643.1,
"52": 263,
"53": 486,
"54": 238,
"55": 450.7,
"56": 413,
"57": 305,
"58": 226.4,
"59": 321,
"60": 1376,
"61": 1034.4,
"62": 853,
"63": 341,
"64": 131.4,
"65": 800.4,
"66": 873.4,
"67": 816,
"68": 110.4,
"69": 1500.2,
"70": 1115,
"71": 387.6,
"72": 700,
"73": 953.2,
"74": 304,
"75": 563.2,
"76": 251,
"77": 300,
"78": 500.4,
"79": 1729,
"80": 319.2,
"81": 344,
"82": 151.1,
"83": 500,
"84": 225.3,
"85": 300.1,
"86": 234,
"87": 1000.1,
"88": 242,
"89": 50.3,
"90": 600.1,
"91": None,
"92": 105.3,
"93": 50.5,
"94": 127.4,
"95": 229.4,
"96": 128.2,
"97": 244.2,
"98": 188.2,
"99": 604.1,
"100": 77.7,
"101": 500,
"102": 500,
"103": 500.4,
"104": 92.7,
"105": 124,
"106": 800.3,
"107": 86.2,
"108": 500.3,
"109": 1860.4,
"110": 325.2,
"111": 275,
"112": 124.2,
"113": 225.3,
"114": 367.6,
"115": 351.7,
"116": 443,
"117": 277.4,
"118": None,
"119": 332.7,
"120": 193.9,
"121": 100.7,
"122": 336.7,
"123": 344.9,
"124": 368.5,
"125": 271,
"126": 275.3,
"127": 382,
"128": 466.4,
"129": 384,
"130": 342.5,
"131": 357.5,
"132": 335,
"133": 327.5,
"134": 339,
"135": 189,
"136": 317.7,
"137": 318,
"138": 308,
"139": 222.4,
"140": 390,
"141": None,
"142": 250.4,
"143": 335.4,
"144": 470.2,
"145": 270.8,
"146": 400,
"147": 361.9,
"148": 185,
"149": 409.4,
"150": 343,
"151": 353.2,
"152": 374,
"153": 275.8,
"154": 328,
"155": 368.5,
"156": 270.4,
"157": 270.4,
"158": 382.8,
"159": 240.9,
"160": 250.4,
"161": 260.4,
"162": 270,
"163": 280.9,
"164": 290.8,
"165": 300.4,
"166": 310.2,
"167": 320.4,
"168": 330.4
}
}

In [104]:
df = pd.DataFrame(my_sample_data)
print(df.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.5
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.5
37         60    100       120     300.1
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.1
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [109]:
df.head(10)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.5
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0

In [111]:
df.tail(10)

     Duration  Pulse  Maxpulse  Calories
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [121]:

df = pd.read_json("./sample.json")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 6.6 KB
None