In [2]:
# Project 2: Monthly Sales Summary â€“ Tasks
# 	1.	Create a CSV file named sales.csv with columns: Product, January, February, March.
# 	2.	Read the CSV file using Pandas into a DataFrame.
# 	3.	Display the original sales data.
# 	4.	Calculate the total sales for each product across the three months.
# 	5.	Identify the product with the highest total sales.
# 	6.	Calculate the average monthly sales for each product.
# 	7.	Add the Total_Sales and Average_Sales columns to the DataFrame.
# 	8.	Display the final DataFrame with all new columns.
# 	9.	Save the updated data to a new CSV file named sales_summary.csv.

In [4]:
import pandas as pd

In [6]:
df = pd.read_csv("./sales.csv")

In [8]:
print("Orignal Data:\n\t",df )

Orignal Data:
	               Product  January  February  March
0    Parle-G Biscuits    12000     13500  12800
1           Amul Milk    18000     17500  19000
2           Tata Salt     9500     10000   9700
3      Maggie Noodles    15000     16000  15800
4  Colgate Toothpaste     8000      8200   8300
5     Aashirvaad Atta    11000     11200  11500
6     Godrej Hair Dye     5000      4800   4900
7         Dettol Soap     7000      7500   7400
8   Lifebuoy Handwash     6000      6200   6100
9           Bournvita     4500      4700   4900

In [10]:
df["Total Sales"] = df[["January","February","March"]].sum(axis=1)

In [12]:
df

              Product  January  February  March  Total Sales
0    Parle-G Biscuits    12000     13500  12800        38300
1           Amul Milk    18000     17500  19000        54500
2           Tata Salt     9500     10000   9700        29200
3      Maggie Noodles    15000     16000  15800        46800
4  Colgate Toothpaste     8000      8200   8300        24500
5     Aashirvaad Atta    11000     11200  11500        33700
6     Godrej Hair Dye     5000      4800   4900        14700
7         Dettol Soap     7000      7500   7400        21900
8   Lifebuoy Handwash     6000      6200   6100        18300
9           Bournvita     4500      4700   4900        14100

In [14]:
max_sales = df["Total Sales"].max()

In [16]:
max_sales

54500

In [29]:
top_product = df[df["Total Sales"] == max_sales]["Product"].values[0]

In [31]:
top_product

'Amul Milk'

In [33]:
df["Average Sales"] = df[["January","February","March"]].mean(axis=1)

In [35]:
df

              Product  January  February  March  Total Sales  Average Sales
0    Parle-G Biscuits    12000     13500  12800        38300   12766.666667
1           Amul Milk    18000     17500  19000        54500   18166.666667
2           Tata Salt     9500     10000   9700        29200    9733.333333
3      Maggie Noodles    15000     16000  15800        46800   15600.000000
4  Colgate Toothpaste     8000      8200   8300        24500    8166.666667
5     Aashirvaad Atta    11000     11200  11500        33700   11233.333333
6     Godrej Hair Dye     5000      4800   4900        14700    4900.000000
7         Dettol Soap     7000      7500   7400        21900    7300.000000
8   Lifebuoy Handwash     6000      6200   6100        18300    6100.000000
9           Bournvita     4500      4700   4900        14100    4700.000000

In [39]:
df.to_csv("/Users/rohan/Desktop/Rohan Desktop/Classes/manish python classes/pandas/sales_summary.csv")

In [41]:
pwd

'/Users/rohan/Desktop/Rohan Desktop/Classes/manish python classes/pandas'