In [2]:
import json
import pandas as pd

In [21]:
jsonData = '''[{
"id": 101,
"name":"Carlos",
"active": true,
"grades": [ 2.3, 4.3, 5.0],
"yearsOld":15,
"color":"blue"
},
{
"id": 202,
"name":"Mark",
"active": true,
"grades": [ 3.3, 5.0, 3.0],
"yearsOld":18,
"color":"green"
},
{
"id": 303,
"name":"Stephany",
"active": true,
"grades": [ 3.3, 4.0, 3.8],
"yearsOld":17,
"color":"pink"
},
{
"id": 404,
"name":"Angela",
"active": true,
"grades": [ 1.0, 4.8, 4.0],
"yearsOld":16,
"color":"gray"
},    
{
"id": 505,
"name":"Jackson",
"active": false,
"grades": [ 5.0, 5.0, 5.0],
"yearsOld":15,
"color":"blue"
},
{
"id": 606,
"name":"Melissa",
"active": false,
"grades": [ 3.0, 4.0, 5.0],
"yearsOld":19,
"color":"yellow"
}]'''

In [23]:
data = json.loads(jsonData)

In [25]:
df = pd.DataFrame(data)

In [27]:
print(df)

    id      name  active           grades  yearsOld   color
0  101    Carlos    True  [2.3, 4.3, 5.0]        15    blue
1  202      Mark    True  [3.3, 5.0, 3.0]        18   green
2  303  Stephany    True  [3.3, 4.0, 3.8]        17    pink
3  404    Angela    True  [1.0, 4.8, 4.0]        16    gray
4  505   Jackson   False  [5.0, 5.0, 5.0]        15    blue
5  606   Melissa   False  [3.0, 4.0, 5.0]        19  yellow

In [39]:
jData = pd.read_json("data.json")

In [43]:
jData

    id      name  active           grades  yearsOld   color
0  101    Carlos    True  [2.3, 4.3, 5.0]        15    blue
1  202      Mark    True  [3.3, 5.0, 3.0]        18   green
2  303  Stephany    True  [3.3, 4.0, 3.8]        17    pink
3  404    Angela    True  [1.0, 4.8, 4.0]        16    gray
4  505   Jackson   False  [5.0, 5.0, 5.0]        15    blue
5  606   Melissa   False  [3.0, 4.0, 5.0]        19  yellow

In [46]:
df.describe()

               id   yearsOld
count    6.000000   6.000000
mean   353.500000  16.666667
std    188.953698   1.632993
min    101.000000  15.000000
25%    227.250000  15.250000
50%    353.500000  16.500000
75%    479.750000  17.750000
max    606.000000  19.000000